.THIS {
    width: 141px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding-bottom: 6px;
    background-color: Gainsboro;
}

.THIS.barrita #digital-progress {
    height: 8px;
    border-radius: 5px;
    background-color: #702FA0;
}