.THIS .cwpContainer {
    margin-top: 5px;
}
.THIS .cwpSelect {
    color:#6b6b6b;
    font-family:'salesforcesans';
}
.THIS .close {
    color: white;
    opacity: 1;
    border: 2px solid white;
    border-radius: 17px;
    background: black;
    font-weight: lighter;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    box-shadow: 1px 1px 1px 3px #ada5a5;
    margin-top: 25px;
}

.THIS .slds-modal__content{
	box-shadow: 1px 1px 1px 3px #ada5a5!important;
}

.THIS .toggle {
    display: none;
}
.THIS td.tlf-table__body__col.tlf-table__body__col--show--100.collapse{
    display:none !important
}
.THIS td.tlf-table__body__col.tlf-table__body__col--show--100.collapse.in{
    display:none !important
}
.THIS td.tlf-table__body__col.tlf-table__body__col--show--100.collapsing{
    display:none !important
}

@media screen and (max-width: 63.96875rem){

	.THIS .tlf-table__head__col:first-child {
		padding-left: 1rem;
		width: 24.5%;
	}


	.THIS .tlf-table__body__col:first-child {
		padding-left: 1rem;
		max-width: 11.5rem;
	}
	
	.THIS .lastcol {
		border-radius: 0 10px 0 0;

	}
    .THIS .lastval {
		max-width: 100px;

	}
    .THIS .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big {
        display: block;
        max-width: 100%;
    }
    .THIS .hideexcel {
        display: none;
    }
}


.THIS table th[class*=col-] {
    height: 90px;
}

@media screen and (max-width: 29.96875rem) and (min-width: 20rem){
      .THIS .tlf-table__body__col--filter.tlf-table__body__col--show:first-child {
            width: 100%;
            max-width: 33%;
      }
}
@media screen and (max-width: 63.96875rem) {
      .THIS .tlf-table__head__col:last-child {
            padding-right: 0.5rem;
            width: 24.5%;
        }
    .THIS th.tlf-table__head__col.tlf-table__head__col--show--33 {
        width: 33%;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        display: inline-block !important;
        float: left;
        position: inherit;
    }
    .THIS td.tlf-table__body__col.tlf-table__body__col--show--33 {
        width: 33%;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        display: inline-block !important;
        float: left;
        position: inherit;
    }
    .THIS th.tlf-table__head__col.tlf-table__head__col--show--50 {
        width: 42%;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        display: inline-block !important;
        float: left;
        position: inherit;
    }
    .THIS td.tlf-table__body__col.tlf-table__body__col--show--50{
        width: 42%;
        padding: 0.5rem;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        display: inline-block !important;
        float: left;
        position: inherit;
    }
    .THIS th.tlf-table__head__col.tlf-table__head__col--show--70 {
        width: 70%;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        display: inline-block !important;
        float: left;
        position: inherit;
    }
    .THIS td.tlf-table__body__col.tlf-table__body__col--show--70{
        width: 70%;
        padding: 0.5rem;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        display: inline-block !important;
        float: left;
        position: inherit;
    }
    .THIS th.tlf-table__head__col.tlf-table__head__col--show--10 {
        width: 25%;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        display: inline-block !important;
        float: left;
        position: inherit;
    }
    .THIS td.tlf-table__body__col.tlf-table__body__col--show--10{
        width: 25%;
        padding: 0.5rem;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        display: inline-block !important;
        float: left;
        position: inherit;
    }
    .THIS td.tlf-table__body__col.tlf-table__body__col--show--100{
        width: 100%;
        padding: 0.5rem;
        padding-left: 0.5rem;
    	padding-right: 0.5rem;
        display: inline-block !important;
        float: left;
        position: inherit;
        max-width: 100%;
    }
     .THIS .tlf-table__body__row--50:after {
        content: "";
        position: absolute;
        top: 4.2rem;
        right: 10%;
        width: 1.125rem;
        height: 0.625rem;
        background: url(../resource/CWP_LightningCss/assets/img/icons/tlf-arrowTop--blue.png) no-repeat right center;
    }
    .THIS .tlf-table__body__row--50.collapsed:after {
        background: url(../resource/CWP_LightningCss/assets/img/icons/tlf-arrowBottom--blue.png) no-repeat right center;
    }
    .THIS td.tlf-table__body__col.tlf-table__body__col--show--100.collapse{
        display:none !important
    }
    .THIS td.tlf-table__body__col.tlf-table__body__col--show--100.collapse.in{
        display:inline-block !important
    }
    .THIS td.tlf-table__body__col.tlf-table__body__col--show--100.collapsing{
        display:inline-block !important
    }

}
    .THIS .tlf-table__body__row--70 {
        background-color:white;
    }
    .THIS .tlf-table__body__row--50 {
        background-color:white;
    }
	.THIS .tlf-table__body__row--33 {
        background-color:white;
    }