@media screen and (max-width: 63.96875rem){    
	.THIS .tlf-new__modal__controlGroup {
        width: 100%;
        display: block;
    }
    .THIS .tlf-new__modal__data-row.tlf-new__modal__data-row--title.mobileNoFloatTab {
        width: 100%;
    }
    .THIS .tlf-new__modal__data-row.mobileNoFloatTab{
        width: 100%;
    }

}

@media screen and (min-width: 63.96875rem){ 
     .THIS .widthNoMbl{
        width: 80%;
    }
    .THIS .tlf-new__modal__data {
        width: 50%;
    }
}
.THIS .mobileNoFloatField {
        width: 50%;
}
.THIS tr.noafter.tlf-table__body__row:after{
    display:none;
}
@media screen and (max-width: 29.96875rem) and (min-width: 20rem){
    .THIS .mobileNoFloat {
        width: 100%;
    }
    .THIS .mobileNoFloatField {
        width: 100%;
    }
    .THIS th.attachTable.tlf-table__head__col.tlf-table__head__col--show {
        padding-left: 1rem;
        width: 100%;
        height: 50px;
    }
    .THIS .tlf-table__head__row{
        height:50px;
    }
    

}
@media screen and (max-width: 47.96875rem) and (min-width: 30rem){
    .THIS .tlf-table__head__col--show:first-child {
        max-width: 100%;
	}
}

.THIS th.attachTable.tlf-table__head__col.tlf-table__head__col--show {
        height: 40px;
    	width: 50%;
}