.THIS .map {
    padding: 0;
    margin: 0;
    height: 500px;
    width: 100%;
}

.THIS .map2 {
    padding: 0;
    margin: 0;
    height: 200px;
    width: 100%;
}

.THIS .list {    
    height: 590px;    
}

.THIS .list2 {    
    height: 200px;    
}

.THIS .filter-panel{
    position: absolute;
}

.THIS .input-search{
    width: 163px;
}
.THIS .estado{
    height: 100px;
}
.THIS .center{
   
}
.THIS .filter-selected{
    background-color: #B0E8FF;
}
.THIS .icon_BI{
    height: 15px;
    width: 15px;
    background-color: #B0E8FF;
}
.THIS .mini-text {
    font-size: 9px;
}
.THIS .test li:first-child span { 
    font-size: 16px;
    font-weight: bold;
}
.THIS .test li:first-child a:hover{  
	opacity:1.0;
    cursor: default;
    background-color: transparent !important;
}
.THIS .test li:first-child a:focus{  
	opacity:1.0;
    cursor: default;
    background-color: transparent !important;
}
.THIS .test li:first-child a:active{  
	opacity:1.0;
    cursor: default;
    background-color: transparent !important;
}