.THIS .customSize{
    width: 95.5%;
    padding-left: 10px;
    display: block;
}
@media screen and (max-width: 29.96875rem) and (min-width: 20rem){
	.THIS .mobileNoFloat{
		width: 100%;
	}
    
    .THIS .tlf-new__modal__controlGroup{
        max-width: 100%;
    }
}