.THIS .progressBar {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: green;
    padding-bottom: 6px;
}

.THIS .progressRect{
    width:  35px;
    height: 25px;
    border-radius: 5px;
    background-color: green;
    padding-bottom: 6px;
}