@CHARSET "ISO-8859-1";
.THIS .calButton{
	padding-left:0px;
	padding-right:0px;
}

.THIS .link {
    cursor: pointer;
}


@media screen and (max-width: 47.96875rem) and (min-width: 30rem){
	.THIS .tlf-calendar__table__body__col__event{
		display:none;
	}
}

@media screen and (max-width: 29.96875rem) and (min-width: 20rem){
    .THIS .tlf-calendar__table__body__col__event{
		display:none;
	}
}