.THIS {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    height: 100%;
    z-index:10001;
}
.THIS .modalHeader{
    position:absolute;
    top:0px;
    height:70px;
    left:0px;
    right:0px;
    overflow:hidden;
}

.THIS .modalBodyTitle{
    position:absolute;
    top:70px;
    left:0px;
    right:0px;
    bottom:0px;
}

.THIS .modalBody{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

.THIS .buttonModal{
    min-width: 90px;
    width:90px;
}
.THIS .slds-button_neutral{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.THIS .slds-button--neutral{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.THIS .scrollSize{
    position: absolute;
    top: 1px;
    padding: 0;
    bottom: 1px;
    left: 0;
    right: 0;
    }