/*.THIS .tlf-new__modal__controlGroup--big .tlf-new__modal__input  {
    border: none !important;
}*/
.THIS .slds-select {
    height: 150px !important;
}
.THIS .tlf-new_modal_controlGroupFifty {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding : 0px;
}

.THIS .tlf-new_modal_controlGroupMultiSelect {
    display: inline-block;
    width: 44%;
    vertical-align: top;
}
.THIS .tlf-new_modal_controlGroupMultiSelectBtns {
    display: inline-block;
    width: 5%;
    vertical-align: middle !important;
}

.THIS textarea {
    height: 50px !important;
}

.THIS .slds-select[multiple] option {
  padding: 0.0rem; 
}

.THIS .tlf-new_modal_controlGroupMultiSelect{
    padding : 10px;
}

.THIS .tlf-new__modal__buttons__text-custom{
    padding : 0px;
    border : 0px;
}
/*
.THIS .div3col {
    width:33%;
    float:left;
}
.THIS .div2col {
    width:50%;
    float:left;
}
.THIS .div1col {
    width:100%;
    float:left;
}
*/
.THIS .selectFit {
    width:50%;
}
.THIS .div40col {
    width:40%;
    float:left;
}
.THIS .div20col {
    width:20%;
    float:left;
    text-align:center;
    margin-top:60px;
}
.THIS .tlf-new__modal__label {
    padding-bottom:10px;
}

.THIS .error {
    color:red;
}
@media screen and (max-width: 29.96875rem) and (min-width: 20rem){
   .THIS .tlf-new__modal__controlGroup{
    	max-width:100%;
	}
    
}

@media screen and (max-width: 63.96875rem){    
    .THIS .block {
        display: block;
    }
}