.THIS .year {
    font-weight: bold;
    background-color: #1f4e78;
    color: white;
     text-align: center;
}

.THIS .quarter {
    font-weight: bold;
    background-color: #9bc2e6;
    color: black;
     text-align: center;
}

.THIS .month {
    font-weight: bold;
    background-color: #ededed;
    color: black;
     text-align: center;
}

.THIS .titlemain {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #009dd1;
    color: black;
    width:fit-content;
    text-align: left;
}

.THIS .titleobjetivo  {
   background-color: #ddebf7;
   width:fit-content;
    text-align: left;
}


.THIS .titleactuals  {
   background-color: #ddebf7;
    width:fit-content;
    text-align: left;
}
    
.THIS .titleforecast {
background-color: #ddebf7;
    width:fit-content;
    text-align: left;
}
        
.THIS .titlepipeline  {
background-color: #ddebf7;
    width:fit-content;
    text-align: left;
}

.THIS .ajuste  {
	background-color: #ddebf7;
    width:fit-content;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.THIS .titletracker {
background-color: #ddebf7;
    width:fit-content;
    text-align: left;
}
    
.THIS .manualinput {
    background-color: #fff2cc;
    color: black;
    width: 100%;
    text-align: center;
}
    
.THIS .pasados {
  background: linear-gradient(90deg, #f2f2f2 4px, transparent 1%) center, linear-gradient(#f2f2f2 4px, transparent 1%) center, black;
  background-size: 5px 5px;
    text-align: center;
}



.THIS .centerAlig {
    text-align: center;
}

.THIS .caption{
    text-align: left;
}

.THIS .slds-table_bordered{
    border-collapse: separate;
    border-top: 1px solid rgb(221, 219, 218);
    border-bottom: 1px solid rgb(221, 219, 218);
    text-align: center;
}

.THIS .slds-table {
    background-color: rgb(250, 250, 249);
    color: rgb(81, 79, 77);
    padding: .25rem .5rem;
    text-align: center;
}
.THIS .slds-text-heading_small{
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
}


.THIS .slds-text-heading--small {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
}
.THIS .tab{
    padding-left: 4em;
}
.THIS .symbolColour{
    color: 	#00008B;
    font-weight: bold;
}