.THIS {
    width: 141px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid black;
    padding-bottom: 6px;
    /*width: 100%;
    background-color: grey;*/
}

.THIS.barrita .progress {
    height: 10px;
    border-radius: 5px;
    width:50%;
    background-color:blue;
}