.THIS.hide {
    display:none;
}

.THIS .h2Modal{
	margin-top: 10px !important;
    display: block;
    white-space: initial;
    color: #005482;
    font-size: 12pt;
    font-weight: normal;
    font-family: salesforcesans;
    margin-left: 10px;
    float: unset;
}
    
 .THIS .modalWrapLine { 
 	width: 99%;
    border-top-color: #909cb3;
    margin-top: 1px;
    margin-bottom: 0;
}

.THIS .attachModal{
	top:8%;
	left:40%;
	position: absolute;
	z-index:1000;
}
.THIS table th[class*=col-]{
        height: 40px;
    }

@media screen and (max-width: 29.96875rem) and (min-width: 20rem){
    .THIS table th[class*=col-]{
        height: 60px;
    }
}