.THIS .slds-modal__container{
       max-width: 70rem !important;
       width:70% !important;

}
.THIS .modal-body
{
       height:auto !important;
       padding:0;
}

.THIS .slds-modal__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -2.5rem;
    right: -.5rem;
    display: none;
}
.THIS .slds-modal__header{
    display: none;
}