/*.THIS .tlf-new__modal__controlGroupPaddingLeft{
   padding-left: 30px;
   padding-top: 30px;
   width: 60%;
}

.THIS .slds-form-element-background{
    background:#ebebeb;
}

.THIS .tlf-new__modal__form__legend-margen{
    margin-bottom: 0.0px;
}
.THIS .tlf-btn-padding{
    margin-left: 5px;
}
.THIS .labelNameFontColor{
    text-color : #454545;
}

.THIS .labelfont {
    color: #4a4a56;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}

.THIS .valuefont {
    color: #4a4a56;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
}

.THIS .h4{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #454545;
}*/