<apex:component controller="BI_InvoicesTreeViewController">

    <style>

        #mainDataTable, #mainDataTable tr {
            border: none;
        }

        #mainDataTable td {
            padding-top: 2px;
            padding-bottom: 3px;
        }

        #mainDataTable tr:hover {
            background: #F0F0F0;
        }

        #mainDataTable tr.noHover:hover {
            background: none;
        }

        #mainDataTable {
            width: 100%;
        }

        .plusMinusSign {
            font-size: 20px !important;
            width: 20px !important;
            color: #{!IF(isPortalUser, '00c6d7', '0094d3')} !important; /* #00c6d7 portal, 0094d3 normal  */
            text-align: center !important;
            line-height: 15px !important;
            cursor: pointer;
            border-left: 1px solid #E0E0E0;
        }

        .noPlusMinusSign {
            font-size: 20px !important;
            width: 20px !important;
            color: #{!IF(isPortalUser, '00c6d7', '0094d3')} !important; /* #00c6d7 portal, 0094d3 normal  */
            text-align: center !important;
            line-height: 15px !important;
            border-left: 1px solid #E0E0E0;
        }

        .detailHeader {
            font-weight: bold;
            padding: 3px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10px;
            color: #{!IF(isPortalUser, '5C5C5C', 'black')} !important;
            cursor: default;
        }

        .detailCell {
            padding: 4px;
            /*background-color: white;*/
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10px;
            cursor: default;
        }

        .detailRow:hover {
            background: #F0F0F0;
        }

        .levelHeader {
            font-weight: bold;
            padding-top: 5px;
            color: #{!IF(isPortalUser, '5C5C5C', 'black')} !important;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10px;
            cursor: default;
        }

        .topLevelHeader {
            width: 125px;
        }

        .level1Header {
            padding-left: 10px;
        }

        .level2Header {
            padding-left: 20px;
        }

        .level3Header {
            padding-left: 30px;
        }

        .level4Header {
            padding-left: 40px; 
        }

        .lineItemAmount {
            font-weight: bold;
            text-align: right;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10px;
            padding-left: 10px;
        }

        .lineItemAmountLast {
            border-right: 1px solid #E0E0E0;
            padding-right: 5px;
        }

        .lineItemTD {
            text-align: right;
        }

        .currencyCode {
            font-weight: bold;
            text-align: left;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10px;
            float: left;
        }

        
        .detailAmount {
            text-align: right;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10px;
        }

        .headerRow td {
            border-bottom: 1px solid #E0E0E0;
            border-top: 1px solid #E0E0E0;
            background-color: #F7F7F7;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10px;
        }

        .headerRow {
            padding: 1px;
        }

        .tableHeader {
            font-weight: bold;
            text-align: right;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 12px;
            padding-left: 10px;
            border-bottom: 1px solid #E0E0E0;
            border-top: 1px solid #E0E0E0;
            background-color: #F7F7F7;
            width: 110px;
        }

        .tableHeaderFirst {
            border-left: 1px solid #E0E0E0;
        }

        .parametersText {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 12px;
        }
    </style>
            
    <apex:outputPanel id="thePanel" layout="block">
    
        <div id="slider1_container" style="position: relative; top: 0px; left: 0px; {!IF(isPortalUser, 'width: 1024px;', 'width: 85%;')}   margin: auto; ">
        
        <apex:form id="frm">

        <button class="btn" style="padding: 4px 3px;" onclick="window.close(); return false;">Volver</button>
        <a href='/00O17000000FCal?pv0={!LEFT(accountRecord.id,15)}' style="padding: 4px 3px;text-decoration: none;" target="_blank" class="btn">Imprimir</a>

        <p class="text_titulo_blue" style="margin-bottom: 0; {!IF(isPortalUser, '', 'font-size: 18px;font-family: Verdana, Geneva, sans-serif;')}">{!$Label.BI_Analisis_de_facturacion}</p>
        <p class="text_titulo_blue" style="margin-bottom: 0; {!IF(isPortalUser, '', 'font-size: 14px;font-family: Verdana, Geneva, sans-serif;')}">{!accountRecord.Name}</p>
        <table width="100%" border="0">  
        <tr>
            <td width="100" valign="top">
              <table cellpadding="2" cellspacing="2">
              <tr>
                <td style="font-weight:bold;">
                 <p class="parametersText">Tipo de Facturación</p>
                  <apex:selectList value="{!selectedDisplayType}" size="1" id="tipoFactList" style="font-family: Verdana, Geneva, sans-serif;font-size: 12px;{!IF(isPortalUser, 'max-width: 180px;border: 1px solid #dedede;color:#666', '')}">
                    <apex:selectOptions value="{!displayTypes}" />
                    <apex:actionSupport action="{!fetchInvoices}" event="onchange" reRender="thePanel" oncomplete="initAndFormat(); return false;" status="typeStatus"/>
                  </apex:selectList>
                  <span>
                        <apex:actionStatus startText=" (Espere por favor...)" stopText="" id="typeStatus"/>
                  </span>
                </td> 
              </tr>
              </table>
            </td>
        </tr>
          <tr>  
            
            <td valign="top">

                <table id="mainDataTable" cellspacing="0">

                    <tr class="noHover">
                            <td></td>
                            <td>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="tableHeader tableHeaderFirst">
                                Mes - 2
                            </td>
                            <td class="tableHeader">
                                Mes - 1
                            </td>
                            <td class="tableHeader lineItemAmountLast">
                                Mes
                            </td>
                        </tr>

                    <apex:repeat value="{!topLevelItems}" var="li">
                        <tr class="headerRow">
                            <td class="plusMinusSign" id="{!li.record.id}">+</td>
                            <td class="levelHeader topLevelHeader">
                                {!li.levelName}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="lineItemTD">
                                <span class="currencyCode">{!accountRecord.CurrencyIsoCode}</span>
                                <span class="lineItemAmount">
                                    <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                        <apex:param value="{!li.minus2Amount.totalFCIC}"/>
                                    </apex:outputText>
                                    <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                        <apex:param value="{!li.minus2Amount.totalFCON}"/>
                                    </apex:outputText>
                                    <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                        <apex:param value="{!li.minus2Amount.totalBOTH}"/>
                                    </apex:outputText>
                                </span>
                            </td>
                            <td class="lineItemAmount">
                                <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                    <apex:param value="{!li.minus1Amount.totalFCIC}"/>
                                </apex:outputText>
                                <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                    <apex:param value="{!li.minus1Amount.totalFCON}"/>
                                </apex:outputText>
                                <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                    <apex:param value="{!li.minus1Amount.totalBOTH}"/>
                                </apex:outputText>
                            </td>
                            <td class="lineItemAmount lineItemAmountLast">
                                <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                    <apex:param value="{!li.totalFCIC}"/>
                                </apex:outputText>
                                <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                    <apex:param value="{!li.totalFCON}"/>
                                </apex:outputText>
                                <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                    <apex:param value="{!li.totalBOTH}"/>
                                </apex:outputText>
                            </td>
                        </tr>

                        <apex:repeat value="{!li.children}" var="li1">
                            
                            <tr class="{!li.record.id}" style="display: none;">
                                <td class="plusMinusSign {!li.record.id}" id="{!li1.record.id}">+</td>
                                <td colspan="2" class="levelHeader level1Header">{!li1.levelName}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="lineItemTD">
                                    <span class="currencyCode">{!accountRecord.CurrencyIsoCode}</span>
                                    <span class="lineItemAmount">
                                        <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                            <apex:param value="{!li1.minus2Amount.totalFCIC}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                            <apex:param value="{!li1.minus2Amount.totalFCON}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                            <apex:param value="{!li1.minus2Amount.totalBOTH}"/>
                                        </apex:outputText>
                                    </span>
                                </td>
                                <td class="lineItemAmount">
                                    <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                        <apex:param value="{!li1.minus1Amount.totalFCIC}"/>
                                    </apex:outputText>
                                    <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                        <apex:param value="{!li1.minus1Amount.totalFCON}"/>
                                    </apex:outputText>
                                    <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                        <apex:param value="{!li1.minus1Amount.totalBOTH}"/>
                                    </apex:outputText>
                                </td>
                                <td class="lineItemAmount lineItemAmountLast">
                                    <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                        <apex:param value="{!li1.totalFCIC}"/>
                                    </apex:outputText>
                                    <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                        <apex:param value="{!li1.totalFCON}"/>
                                    </apex:outputText>
                                    <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                        <apex:param value="{!li1.totalBOTH}"/>
                                    </apex:outputText>
                                </td>
                            </tr>

                            <apex:repeat value="{!li1.children}" var="li2">

                                <tr class="{!li1.record.id}{!li.record.id}" style="display: none;">
                                    <td class="plusMinusSign {!li1.record.id}{!li.record.id}" id="{!li2.record.id}">+</td>
                                    <td colspan="3" class="levelHeader level2Header">{!li2.levelName}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="lineItemTD">
                                        <span class="currencyCode">{!accountRecord.CurrencyIsoCode}</span>
                                        <span class="lineItemAmount">
                                            <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                <apex:param value="{!li2.minus2Amount.totalFCIC}"/>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                <apex:param value="{!li2.minus2Amount.totalFCON}"/>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                <apex:param value="{!li2.minus2Amount.totalBOTH}"/>
                                            </apex:outputText>
                                        </span>
                                    </td>
                                    <td class="lineItemAmount">
                                        <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                            <apex:param value="{!li2.minus1Amount.totalFCIC}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                            <apex:param value="{!li2.minus1Amount.totalFCON}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                            <apex:param value="{!li2.minus1Amount.totalBOTH}"/>
                                        </apex:outputText>
                                    </td>
                                    <td class="lineItemAmount lineItemAmountLast">
                                        <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                            <apex:param value="{!li2.totalFCIC}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                            <apex:param value="{!li2.totalFCON}"/>
                                        </apex:outputText>
                                        <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                            <apex:param value="{!li2.totalBOTH}"/>
                                        </apex:outputText> 
                                    </td>
                                </tr>

                                <apex:repeat value="{!li2.children}" var="li3">

                                    <tr class="{!li2.record.id}{!li.record.id}{!li1.record.id}" style="display: none;" data-yearmonth="{!li3.yearMonth}" data-rama="{!li3.rama}" data-famone="{!li3.famOne}" data-famtwo="{!li3.famTwo}" data-level="level3">
                                        <td class="{!IF(li3.aggregationType == '1-3M', 'plusMinusSign', 'noPlusMinusSign')} {!li2.record.id}{!li.record.id}{!li1.record.id}" id="{!li3.record.id}">{!IF(li3.aggregationType == '1-3M', '+', '')}</td>
                                        <td colspan="4" class="levelHeader level3Header">{!li3.levelName}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="lineItemTD">
                                            <span class="currencyCode">{!accountRecord.CurrencyIsoCode}</span>
                                            <span class="lineItemAmount">
                                                <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                    <apex:param value="{!li3.minus2Amount.totalFCIC}"/>
                                                </apex:outputText>
                                                <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                    <apex:param value="{!li3.minus2Amount.totalFCON}"/>
                                                </apex:outputText>
                                                <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                    <apex:param value="{!li3.minus2Amount.totalBOTH}"/>
                                                </apex:outputText>
                                            </span>
                                        </td>
                                        <td class="lineItemAmount">
                                            <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                <apex:param value="{!li3.minus1Amount.totalFCIC}"/>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                <apex:param value="{!li3.minus1Amount.totalFCON}"/>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                <apex:param value="{!li3.minus1Amount.totalBOTH}"/>
                                            </apex:outputText>
                                        </td>
                                        <td class="lineItemAmount lineItemAmountLast">
                                            <apex:outputText rendered="{!selectedDisplayType='FCIC'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                <apex:param value="{!li3.totalFCIC}"/>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!selectedDisplayType='FCON'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                <apex:param value="{!li3.totalFCON}"/>
                                            </apex:outputText>
                                            <apex:outputText rendered="{!selectedDisplayType='BOTH'}" value="{!DynamicFormatString}" style="text-align:right;">
                                                <apex:param value="{!li3.totalBOTH}"/>
                                            </apex:outputText>
                                        </td>
                                    </tr> 

                                </apex:repeat>

                            </apex:repeat>

                        </apex:repeat>

                    </apex:repeat>

                </table>
            </td>
          </tr>
        </table>
        
    </apex:form>

    </div>
    </apex:outputPanel>
     
    <!-- Script Part -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"/>
    <script src="{!URLFOR($Resource.BI_jquery_numberformatter, '/jshashtable-3.0.js')}"> </script>
    <script src="{!URLFOR($Resource.BI_jquery_numberformatter, '/jquery.numberformatter-1.2.4.min.js')}"> </script>

    <script>

        var j$ = jQuery.noConflict();
        var language = "{!currentUser.LocaleSidKey}";
        var userLanguage = language.replace("_", "-");
        var userLanguageBackup = language.split("_")[0];
        var isPortalUser = {!isPortalUser};
        var accountCurrency = "{!accountRecord.CurrencyIsoCode}";

        j$(document).ready(function(){
            initAndFormat();
        });

        function initAndFormat() {
            j$('.plusMinusSign').each(function(index, element){
                var rowID = j$(this).attr('id');
                var sign = j$(this).text();
                
                j$(this).on('click', function(){

                    var thisSign = j$(this).text();

                    if (thisSign == '+') {
                        var childID = "tr[class^='"+rowID+"']";
                        j$(childID).show();
                        j$(this).text('-');

                        if (j$(this).parent().data('level') == 'level3') {
                            var accountID = '{!accid}';
                            var yearMonth = j$(this).parent().data('yearmonth');
                            var rama = j$(this).parent().data('rama');
                            var famOne = j$(this).parent().data('famone');
                            var famTwo = j$(this).parent().data('famtwo');
                            var tipo = j$("[id$='tipoFactList']").val();
                            
                            loadLevel4Details(accountID, yearMonth, rama, famOne, famTwo, tipo, j$(this).parent());
                        }
                    } else {
                        var childID = "[class*='"+rowID+"']";

                        j$("tr"+childID).each(function(index, element){
                            if (j$(this).data('level') == 'level4') {
                                j$(this).remove();
                            }
                            j$(this).hide();
                        });

                        j$(this).text('+');
                        j$("td[class^='plusMinusSign']"+childID).text('+');
                    } 
                });
            });

            j$('.lineItemAmount').formatNumber({format: "#,##0.00", locale:userLanguage});
        }

        function loadLevel4Details(aID, ym, ram, fam1, fam2, tipo, clickedElement) {

            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.BI_InvoicesTreeViewController.getDetails}',
                aID != undefined ? aID : '',
                ym != undefined ? ym : '',
                ram != undefined ? ram : '',
                fam1 != undefined ? fam1 : '',
                fam2 != undefined ? fam2 : '',
                tipo != undefined ? tipo : '',
                function(result, event){
                    handleLevel4Result(result, event, j$(clickedElement));
                }
            );
        }

        function handleLevel4Result(result, event, clickedElement) {
            if (event.status && result.length > 0) {

                var clickedID = j$(clickedElement).find('.plusMinusSign').attr('class')+j$(clickedElement).find('.plusMinusSign').attr('id');

                var text1 = isPortalUser == true ? '' : 'Código de Concepto';

                var headerElement = j$("<tr></tr>").addClass(clickedID).append(j$("<td></td>").attr('colspan', '2').addClass('noPlusMinusSign'))
                                                                       .append(j$("<td></td>").attr('colspan', '2').addClass('detailHeader level4Header').text(text1))
                                                                       .append(j$("<td></td>").addClass('detailHeader').text(''))
                                                                       .append(j$("<td></td>").attr('colspan', '2').addClass('detailHeader').text('Descripción de Concepto'))
                                                                       .append(j$("<td></td>").attr('colspan', '2').addClass('detailHeader').text('Divisa'))
                                                                       .append(j$("<td></td>"))
                                                                       .append(j$("<td></td>"))
                                                                       .append(j$("<td></td>").addClass('lineItemAmountLast'))
                                                                       .data('level', 'level4')
                                                                       .removeClass('plusMinusSign')
                                                                       .addClass('noHover');

                j$(clickedElement).after(headerElement);

                var tipo = j$("[id$='tipoFactList']").val();

                for (var i = 0; i < result.length; i++) {

                    var amountToShow; 

                    if (tipo == 'FCIC')
                        amountToShow = result[i].totalFCIC;
                    else if (tipo == 'FCON')
                        amountToShow = result[i].totalFCON;
                    else if (tipo == 'BOTH')
                        amountToShow = result[i].totalBOTH;


                    var amountToShowM1; 

                    if (result[i].minus1Amount != undefined && result[i].minus1Amount != null) {

                        if (tipo == 'FCIC')
                            amountToShowM1 = result[i].minus1Amount.totalFCIC;
                        else if (tipo == 'FCON')
                            amountToShowM1 = result[i].minus1Amount.totalFCON;
                        else if (tipo == 'BOTH')
                            amountToShowM1 = result[i].minus1Amount.totalBOTH;
                    } else {
                        amountToShowM1 = "0.00";
                    }


                    var amountToShowM2;

                    if (result[i].minus2Amount != undefined && result[i].minus2Amount != null) {
     
                        if (tipo == 'FCIC')
                            amountToShowM2 = result[i].minus2Amount.totalFCIC;
                        else if (tipo == 'FCON')
                            amountToShowM2 = result[i].minus2Amount.totalFCON;
                        else if (tipo == 'BOTH')
                            amountToShowM2 = result[i].minus2Amount.totalBOTH;
                    } else {
                        amountToShowM2 = "0.00";
                    }


                    var amountElementM2 = j$(j$("<td></td>").addClass('detailAmount detailCell').text(amountToShowM2)).formatNumber({format:"#,##0.00", locale:userLanguage});
                    var amountElementM1 = j$(j$("<td></td>").addClass('detailAmount detailCell').text(amountToShowM1)).formatNumber({format:"#,##0.00", locale:userLanguage});
                    var amountElement = j$(j$("<td></td>").addClass('detailAmount detailCell lineItemAmountLast').text(amountToShow)).formatNumber({format:"#,##0.00", locale:userLanguage});

                    var text1 = isPortalUser == true ? '' : result[i].codigoConcepto;

                    var currencyCode = accountCurrency;//result[i].currencyType;

                    var newElement = j$("<tr></tr>").addClass(clickedID).append(j$("<td></td>").attr('colspan', '2').addClass('detailCell noPlusMinusSign'))
                                                                       .append(j$("<td></td>").attr('colspan', '2').addClass('detailCell level4Header').text(text1))
                                                                       .append(j$("<td></td>").addClass('detailCell').text(''))
                                                                       .append(j$("<td></td>").attr('colspan', '2').addClass('detailCell').text(result[i].descripcionConcepto))
                                                                       .append(j$("<td></td>").attr('colspan', '2').addClass('detailCell').text(currencyCode))
                                                                       .append(amountElementM2)
                                                                       .append(amountElementM1)
                                                                       .append(amountElement)
                                                                       .data('level', 'level4')
                                                                       .removeClass('plusMinusSign')
                                                                       .addClass('detailRow');

                    j$(headerElement).after(newElement);
                }
            }
        }
         
    </script>   
</apex:component>