<apex:component controller="CWP_AttachmentComp_Controller">
    <apex:attribute name="listAttachments" assignTo="{!listAttachmentsCMP}" description="null" type="Attachment[]"/>
    <apex:attribute name="attachmentType" assignTo="{!varPruebaCMP}" description="null" type="String"/>    
    <script src="/soap/ajax/15.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/15.0/apex.js" type="text/javascript"></script>
    
    <script>    
    var maxFileSize = 4350000;      //After Base64 Encoding, this is the max file size    
    var __sfdcSessionId = '{!GETSESSIONID()}';      
    var uploadedFile = 0;
    
    function hidePopup() {
        debugger;
        var file = document.getElementById('attachmentFile').files[0];
        var fileDescription = document.getElementById('attachmentFileDescr').value;
        if(file != undefined) {
            if(file.size <= maxFileSize) {
                //CWP_AttachmentComp_Controller.f('','','', callbackPopup);
                var reader  = new FileReader();
                reader.onloadend = function () {    
                    var file=document.getElementById('attachmentFile').files[0];        
                    var fileDescription = document.getElementById('attachmentFileDescr').value;
                    //var fileBody = reader.result;
                    var resultParam =[file,reader.result,fileDescription];
                    window.parent.postMessage(resultParam, '*');
                    /*if (parent.document.getElementById('popupBackground')!=null) {
                    parent.document.getElementById('popupBackground').style.display = "none"; }*/              }
                reader.readAsDataURL(file);
            } else {
                alert("File must be under 5 MB in size.  Your file is too large.  Please try again.");
            }
        } else {
            alert("You must choose a file before trying to upload it");
        }
        
    }
     function checkname() {
        var aux = document.getElementById('attachmentFile').value.split('\\');
        var filename = aux[aux.length -1];
        var ok="0"           
        var els = document.getElementsByClassName("filename");
        Array.prototype.forEach.call(els, function(el) {
             if(el.innerText==filename){             
                ok="1"
            }
        });
        if(ok=="0"){
            hidePopup();
        }else{
            alert('{!$Label.CWP_SameAttach}');
        }
    }
    
    
    function callbackPopup() {
        debugger;
        
        //document.getElementById('attachmentFile').value='';
        //document.getElementById('attachmentFileDescr').value='';
        
        
    }
    
    function dismissPopup() {
        debugger;        
        var resultParam = 'XXX';
        document.getElementById('attachmentFile').value='';
        document.getElementById('attachmentFileDescr').value='';
        window.parent.postMessage(resultParam, '*');
        /*if (parent.document.getElementById('popupBackground')!=null) {
            parent.document.getElementById('popupBackground').style.display = "none"; }*/ 
        jQuery("#popup input[type=file]").each(function(){
            var textbox = jQuery(this).parent().parent().find("input[type=text]").first();
            
            //If is IE9 or IE10
            var isIE = document.all && document.addEventListener;
            if (isIE){
                $(this).replaceWith($(this).clone(true));
            }
            else{
                jQuery(this).val("");
            }
            jQuery(textbox).val("");
            jQuery(textbox).css("border", "solid 1pt #bbc4c9");
        });        
    }
    </Script>
    
    
    <apex:attribute name="listAttachments" assignTo="{!listAttachmentsCMP}" description="null" type="Attachment[]"/>
        <apex:attribute name="attachmentType" assignTo="{!varPruebaCMP}" description="null" type="String"/>
            <apex:form >
                    <div id="mod-nivel0">
                        <!-- Popup -->
                        <div id="mod-popupBackground" >
                            <div id="mod-popup">
                                <div id="mod-attcchContent">
                                    <div class="halfWrapper" style="padding-top:5px;">
                                        <label>{!$Label.TGS_CWP_FILE}</label>
                                    </div>
                                    <div class="halfWrapper" style="padding-top:5px;">
                                        <label>{!$Label.CWP_WorkInfoLabel}</label>
                                    </div>
                                    </div>
                                    <div>
                                        <div class="halfWrapper" style="padding-top:5px;">
                                            <br></br>
                                        <input type="file" id="attachmentFile" style="max-width: 90%;"/>
                                            <!--   <label for="attachmentFile" class="btn">Select Image</label>
                                                <input  id="attachmentFile" style="visibility:hidden;" type="file"/>-->
                                                </div>
                                                <div class="halfWrapper" style="padding-top:5px;">
                                                <input id="attachmentFileDescr" />
                                                </div>
                                                </div>
                                                <div class="clear"></div>
                                                <a class="actionButton" href="javascript:dismissPopup()" style="float:left; margin-top:20px;">{!$Label.TGS_CWP_CAN_UP}</a>
                                                <a class="actionButton" href="javascript:checkname()" style="float:right; margin-top:20px;">{!$Label.TGS_CWP_OK}</a>
                                                

                                                </div>
                                                </div>
                                                </div>
                                                </apex:form>
                                                </apex:component>