<apex:component >
    
    <apex:attribute name="tableClass" description="HTML id of the table to be displayed" type="String" required="true"/>
    
    <!--<apex:includeScript value="{!URLFOR($Resource.DataTablesComponent, '/js/jquery.js')}"  />-->
    <apex:includeScript value="{!URLFOR($Resource.DataTablesComponent, '/js/jquery.dataTables.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.DataTablesComponent, '/js/initializeDataTable.js')}"  />
    <apex:stylesheet value="{!URLFOR($Resource.DataTablesComponent, '/css/jquery.dataTables.css')}" />

    <script>
            
        jQuery(document).ready(function($){
            initializeDataTable("{!tableClass}");
            //$j(".{!tableClass}").parent().css("padding-bottom", "15px");
        });
    </script>
</apex:component>