<apex:component id="PCA_ProfileComponent">
<apex:attribute name="usuarioId" description="usuario de Portal" type="Id" required="false"/>
    <div id="content" style="width:1024px; height:100%; margin:auto;" align="center" >
        <!--<object type="text/html" id="showProfile" data="{!$Site.Prefix}/_ui/core/userprofile/UserProfilePage?u={!usuarioId}&tab=sfdc.ProfilePlatformFeed"
            onload="noTopSF()" style="overflow:hidden; width:1044px; height:6000px;">
        </object>-->
        <apex:iframe id="showProfile" src="{!$Site.Prefix}/_ui/core/userprofile/UserProfilePage?u={!usuarioId}&tab=sfdc.ProfilePlatformFeed"  html-onload="noTopSF()" /> 
        <script type="text/javascript" src="{!$Resource.PCA_extCoreChatter}"></script>
</div>
<script>
    function noTopSF() {            
            var tab3 = getElementByIdCS("showProfile").contentDocument.getElementById("tabContainer");
            var tab2 = getElementByIdCS("showProfile").contentDocument.getElementById("globalHeaderBar");
            if(tab3!=null && tab2 != null){
                tab3.style.display = "none"; 
                tab2.style.display = "none";
            }
            var obj = getElementByIdCS("showProfile").contentDocument.body.offsetHeight + 'px';    
            document.getElementById("content").style.height = obj;
            document.getElementById("showProfile").style.height = obj;
            
            
            getElementByIdCS("showProfile").contentDocument.getElementsByClassName("showmorefeeditemscontainer")[0].getElementsByTagName("a")[0].addEventListener("click", changesize);
            /*clck.addEventListener("click", setTimeout(function(){
            var obj2 = getElementByIdCS("showProfile").contentDocument.body.offsetHeight + 'px';
            parent.document.getElementById("content").style.height = obj2;
            parent.document.getElementById("showProfile").style.height = obj2;},10000) ,false) ;
            var timer = setInterval(function() { if(getElementByIdCS("showProfile").contentDocument.body.offsetHeight + 'px'!= obj){
            
            document.getElementById("content").style.height = getElementByIdCS("showProfile").contentDocument.body.offsetHeight + 'px';
            document.getElementById("showProfile").style.height = getElementByIdCS("showProfile").contentDocument.body.offsetHeight + 'px';
            }
             }, 3000)*/
        
        };
        
        function changesize() {
            var divTimer = setTimeout(changesize, 5);
            var obj = getElementByIdCS("showProfile").contentDocument.body.offsetHeight + 'px';    
            document.getElementById("content").style.height = obj;
            document.getElementById("showProfile").style.height = obj;
            
            }
</script>       
</apex:component>