/*.THIS .close {
    color: white;
    opacity: 1;
    border: 2px solid white;
    border-radius: 17px;
    background: black;
    font-weight: lighter;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    box-shadow: 1px 1px 1px 3px #ada5a5;
    margin-top: 25px;
}

.THIS .slds-modal__content{
	box-shadow: 1px 1px 1px 3px #ada5a5!important;
}

.THIS.toggle {
    display: none;
}*/