@media (max-width: 63.96875rem){
    .THIS .navbar-toggle {
        display: block;
    }
}

@media (max-width: 63.96875rem){
    .THIS .navbar-nav>li {
        position: relative;
    	display: block;
        float: none;
    }
}