.THIS .cwpContainer {
    margin-top: 5px;
}
.THIS .cwpSelect {
   color:#6b6b6b;
    font-family:'salesforcesans';
    
}
.THIS .advancedFilterStyle {
   min-height: 44px;
}
.THIS .telefIcon {
    margin-left: 20px;
    margin-left: 1.25rem;
    padding: 2px 0 2px 22px;
    padding: 0.125rem 0 0.125rem 1.375rem;
    width: 30%;
    font-family: salesforcesans;
    font-size: 14px;
    font-size: 0.875rem;
    color: #00c6d8;
}
.THIS .floating-box {
    float: left;
    border: 3px solid blue;
    position:relative;
}
.THIS .floating-box1{
    position:relative;
    float:right;
}
.THIS.toggle {
    display: none;
}

@media screen and (max-width: 29.96875rem) and (min-width: 20rem){
    .THIS .tlf-new__modal__controlGroup{
        max-width:100%;
    }
    
    .THIS .tlf-table__head__col--show:first-child {
        padding-left: 0.5625rem;
        padding-right: 0.625rem;
    }
}
@media screen and (max-width: 63.96875rem){
    
    .THIS .tlf-table__head__col:first-child {
        padding-left: 1rem;
        width: 24.5%;
    }
    
    
    .THIS .tlf-table__body__col:first-child {
        padding-left: 1rem;
        max-width: 11.5rem;
    }
    
    .THIS .lastcol {
        border-radius: 10px 10px 0 0;
        
    }
    .THIS .lastval {
        max-width: 100px;
        
    }
    
    .THIS .modal-open .tlf-new__modal__controlGroup {
        width: 100%;
        display: block;
    }
     .THIS .tlf-table__body__row:after {
   
        position: absolute; 
        top: 1rem; 
        right: 5%; 
        width: 20px; 
        height: 0.625rem; 
        background: url("https://crqdev-telefonicab2b.cs80.force.com/CWP/resource/1497609048000/CWP_LightningCss/assets/img/icons/tlf-arrowTop--blue.png") no-repeat right center; 
        display: inline-block;
        float: right;
        
    }
    .THIS .tlf-table__body__row.collapsed:after {
        
        background: url("https://crqdev-telefonicab2b.cs80.force.com/CWP/resource/1497609048000/CWP_LightningCss/assets/img/icons/tlf-arrowBottom--blue.png") no-repeat right center;
        float: right;
    }
    .THIS .tlf-table__body__row.collapse:after {
        
        background: url("https://crqdev-telefonicab2b.cs80.force.com/CWP/resource/1497609048000/CWP_LightningCss/assets/img/icons/tlf-arrowTop--blue.png") no-repeat right center;
        float: right;
    }
}


.THIS table th[class*=col-] {
    height: 90px;
}