.THIS {
}

.THIS .linea{
    display: block;
    font-weight: bold;
}
.THIS .miboton{
    margin: auto;
}

.THIS .margen-izq{
    margin-left: 0.5em;
}
.THIS .alinea{
    margin: auto;
    margin-left: 1em;
}
.THIS .margen-inf{
    margin-bottom: 0.5em;
}

.THIS .margenesArribaAbajo{
    margin-top: 1em;
    margin-bottom: 1em;
}