.THIS .tableHeader {
    font-weight: bold;
    text-align: right;
    font-family: salesforcesans;
    font-size: 12px;
    padding-left: 10px;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background-color: #F7F7F7;
    width: 110px;
}

.THIS .tableHeaderFirst {
    border-left: 1px solid #E0E0E0;
}

.THIS .lineItemAmountLast {
    border-right: 1px solid #E0E0E0;
    padding-right: 5px;
}

.THIS #mainDataTable td {
    padding-top: 2px;
    padding-bottom: 3px;    
}

.THIS #mainDataTable tr:hover {
    background: #F0F0F0;
}

.THIS #mainDataTable tr.noHover:hover {
    background: none;
}

.THIS #mainDataTable {
    width: 100%;
}

.THIS #mainDataTable{
    border: none;
}

.THIS #mainDataTable tr {
	border: none;
}

.THIS .parametersText {
    font-family: salesforcesans;
    font-size: 12px;
}

.THIS .plusMinusSign {
    font-size: 20px !important;
    width: 20px !important;
    text-align: center !important;
    line-height: 15px !important;
    cursor: pointer;
    border-left: 1px solid #E0E0E0;
    color: #0094d3 !important;
}

.THIS .noPlusMinusSign {
    font-size: 20px !important;
    width: 20px !important;
    text-align: center !important;
    line-height: 15px !important;
    border-left: 1px solid #E0E0E0;
    color: #0094d3 !important;
}

.THIS .detailHeader {
    font-weight: bold;
    padding: 3px;
    font-family: salesforcesans;
    font-size: 10px;
    cursor: default;
    color: black !important;
}

.THIS .detailCell {
    padding: 4px;
    font-family: salesforcesans;
    font-size: 10px;
    cursor: default;
}

.THIS .detailRow:hover {
    background: #F0F0F0;
}

.THIS .levelHeader {
    font-weight: bold;
    padding-top: 5px;
    font-family: salesforcesans;
    font-size: 10px;
    cursor: default;
    color: black !important;
    padding-left: 5px;
}

.THIS .topLevelHeader {
    width: 125px;
}

.THIS .level1Header {
    padding-left: 10px;
}

.THIS .level2Header {
    padding-left: 20px;
}

.THIS .level3Header {
    padding-left: 30px;
}

.THIS .level4Header {
    padding-left: 40px; 
}

.THIS .lineItemAmount {
    font-weight: bold;
    text-align: right;
    font-family: salesforcesans;
    font-size: 10px;
    padding-left: 10px;
}

.THIS .lineItemTD {
    text-align: right;
}

.THIS .currencyCode {
    font-weight: bold;
    text-align: left;
    font-family: salesforcesans;
    font-size: 10px;
    float: left;
}


.THIS .detailAmount {
    text-align: right;
    font-family: salesforcesans;
    font-size: 10px;
}

.THIS .headerRow td {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background-color: #F7F7F7;
    font-family: salesforcesans;
    font-size: 10px;
}

.THIS .headerRow {
    padding: 1px;
}

.THIS .selectOption{
	font-family: salesforcesans;
    font-size: 12px;   
}

.THIS .selectPortalUser{
	max-width: 180px;
    border: 1px solid #dedede;
    color: #666;
}

.THIS .text_titulo_blue {
    font-family: salesforcesans;
    font-size: 14px;
    color: #00c6d6;
    margin-top:10px;
    margin-bottom: 0;
}

.THIS .noPortalUser{
	font-size: 18px;
}

.THIS .button{
	float:none;
	width: 60px;
    margin-right: 10px;
}

.THIS .minusPortalUser{
	color:#00c6d7;
	
}
.THIS .headerPortalUser{
	color:#5c5c5c;
}

.THIS .waitingDiv{
	display:none;
}

.THIS td{
	width:14%;
}