.THIS .display{
        display: flex;
}
.THIS .uiInput--datetime .timePicker-openIcon{
    left: 5% !important;
    bottom:25% !important;
    margin-left:85%;
    
}
.THIS .uiInput--datetime .datePicker-openIcon{
    left: 5% !important;
    bottom:5% !important;
    margin-left:85%;
}
.THIS .slds-card{
   padding: 15px !important;
}