.THIS .cwpContainer {
    margin-top: 5px;
}
.THIS .cwpSelect {
    color:#6b6b6b;
    font-family:'salesforcesans';
}



@media screen and (max-width: 63.96875rem){
    .THIS .lastcoldesktop {
        border-radius: 0 10px 0 0;
    }
}

@media screen and (max-width: 63.96875rem){
    .THIS .modal-open .tlf-container .modal-backdrop {
        position: absolute;
    }
}

@media screen and (max-width: 63.96875rem){
    .THIS .slds-popover {
        width: 90%;
        margin-left: -150px;
        margin-top: 100px;
        min-width: 1px;
    }
    .THIS .slds-nubbin_bottom-left::before, .THIS .slds-nubbin_bottom-left::after, .THIS .slds-nubbin--bottom-left::before, .THIS .slds-nubbin--bottom-left::after{
        display:none;
    }
    .THIS th.tlf-table__head__col.tlf-table__head__col--show-second:first-child {
    	padding-left: 5px;
        /*width: 130px;*/
	}
    .THIS .tlf-table__body__col:first-child{
        padding-left: 5px;
    }
    .THIS td.tlf-table__body__col {
        max-width: 16rem;
        padding-left: 0px;
    }
    .THIS td.tlf-table__body__col.tlf-table__body__col--show.tlf-table__body__col--filter{
        white-space: normal;
    }
}
@media screen and (max-width: 29.96875rem) and (min-width: 20rem){
    .THIS .tlf-new__modal__controlGroup.tlf-new__modal__controlGroup--big {
        width: 300px;
        word-wrap: break-word;
        max-width: 300px;
        display: block;
    }
    .THIS .tlf-table__body__col--filter.tlf-table__body__col--show:first-child{
        /*width: 150px;*/
    }

}