.THIS {
}

.THIS.title{
    font-size: 20px;
    font-weight: bold;
}

.THIS.buttons{
    float: right;
    padding-top: 35px;
}

.THIS .square{
    border: 1px solid black;
    height: 20px;
    width: 40px;
    border-radius: 7px;
}

.THIS .separation{
    width: 240px;
}