.THIS.null{
    height:100%;
}

.THIS.tlf-btn{
    color: white;
    text-decoration: none;
    background:none;
    background-color: #00c6d6;
}

.THIS.tlf-btn:hover{
    color: white;
    text-decoration: none;
    background-color: #00cfdd;
}

.THIS.bodyDiv{
    border-top:none;
    padding:0px;
}

.THIS.noSidebarCell{
    padding:0px;
    padding-bottom:0px;
    height:100%;
}

.THIS.hasMotif{
    margin: 0px;
}

.THIS.outerNoSidebar{
    padding:0px;
    height:100%;
}

.THIS.bodyDiv .outerNoSidebar{
    padding:0px;
}

.THIS.main{
    height:100%;
}