<apex:page title="Reasignación de productos" controller="ADQ_ReasignacionSitiosController">
    <style type="text/css"> 
        .invisible{display:'none';}
        .visible{display:'';}
    </style>
    <script src="/soap/ajax/8.0/connection.js" type="text/javascript"></script>
    <script src="{!$Site.Prefix}/resource/1227811922000/funciones" type="text/javascript"></script>
    <script src="{!$Site.Prefix}/resource/1227811922000/JQuery" type="text/javascript"></script>
  
    <script type="text/javascript">
        sforce.connection.sessionId = '{!$Api.Session_ID}';
        
        var existeCargoUnico = true;
        var blockProgramaciones; 
        
        function validaCargoUnico(check){
            //alert('' + plazo);
            //if(plazo == 1){
                //existenCargosUnicos();
            //alert('existen');
            //}
        }
    </script>
 
    <apex:form id="theform">
    <apex:pageMessages id="messages" />
    <script type="text/javascript">
        messages = document.getElementById('{!$Component.messages}');
    </script>
    <table cellspacing="2" border="0" width="100%">
    <tr>
    <td>
<!--
**************************************************************************************************
Bloque encabezado origen 
**************************************************************************************************
-->
       <apex:pageBlock title="Encabezado de factura origen" id="blockEncabezadoOrigen"> 
            <apex:pageBlockSection columns="1"> 
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="Cliente__c" value="Cliente" />
                    <apex:outputField id="Cliente__c"
                        value="{!encabezadoOrigen.Cliente__c}">
                        <script type="text/javascript">
                            Cliente = document.getElementById('{!$Component.Cliente__c}');
                        </script>
                    </apex:outputField>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="EncabezadoOrigen" value="Encabezado Factura" />
                        <apex:outputLink value="{!$Site.Prefix}/{!encabezadoOrigen.Id}">
                            <apex:outputField id="EncabezadoOrigen" value="{!encabezadoOrigen.Name}"/>
                        </apex:outputLink>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <!-- 
            <apex:pageBlockSection columns="1">
                <apex:actionFunction name="filtroSitios" action="{!filtroSitios}" rerender="theform"/>
                <apex:pageBlockSectionItem helpText="Filtro por Sitio">
                <apex:outputLabel for="comboFiltroSitios" value="Filtro por Sitio" />
                    <apex:selectList id="comboFiltroSitios" size="1" value="{!sitioSeleccionado}" multiselect="false" onchange="filtroSitios()">
                        <apex:selectOptions value="{!listaSitios}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>

            </apex:pageBlockSection>
               --> 
            <apex:pageBlockSection columns="1"> 
                <apex:pageBlockTable id="tablaSitios" value="{!listaWrapperProductosOrigen}" var="c">
                    <apex:column id="columnaSens" headerValue="Equipos en sitios">
                             <apex:outputLink value="{!$Site.Prefix}/{!c.equipoSitio.Id}" id="theLink">{!c.equipoSitio.Name}</apex:outputLink>
                    </apex:column>
                    <!-->>>> 
                    <apex:column id="columnaSitios" headerValue="Sitio">
                            {!c.equipoSitio.Installation_point__r.Name}
                    </apex:column>
                    -->
                    <apex:column id="columnaOportunidad" headerValue="Oportunidad">
                            {!c.equipoSitio.Oportunidad_Name__c}
                    </apex:column>
                    <apex:column id="columnaNombreProducto" headerValue="Producto">
                            {!c.equipoSitio.NE__ProdId__r.Name}
                    </apex:column>
                    <apex:column headerValue="Seleccionar">
                        <apex:inputCheckbox id="check" value="{!c.selected}"  onchange="validaCargoUnico(this)"/>
                    </apex:column>
                    <script type="text/javascript">
                            tabla = document.getElementById('{!$Component.tabla}');
                         </script>
                </apex:pageBlockTable>
            </apex:pageBlockSection> 
            
            <apex:pageBlockButtons >
                <apex:actionStatus startText="Procesando..." id="GetStatus"/>
                <apex:commandButton value="Reasignar" action="{!reasignaEquipo}" status="GetStatus" rerender="theform" disabled="{!disabledBotonReasignar}"/>
                <apex:commandButton value="Atras" action="{!cancelar}" immediate="true"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
        </td>
        </tr>
<!-- 
**************************************************************************************************
Bloque encabezado destino
**************************************************************************************************
--> 
        <tr>
        <td>
        <apex:actionFunction name="existenCargosUnicos" action="{!existenCargosUnicos}" rerender="blockEncabezadoDestino, messages" status="GetStatus"/>
        <apex:actionFunction name="generaEncabezadoDestino" action="{!generaEncabezadoDestino}" rerender="blockEncabezadoDestino, messages" status="GetStatus1"/>
        <apex:pageBlock title="Encabezado de factura destino" id="blockEncabezadoDestino" rendered="{!blockDestinoActivado}"> 
            <apex:actionStatus startText="Procesando..." id="GetStatus1"/>
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem helpText="Seleccione un encabezado de facturación destino">
                    <apex:outputLabel for="comboEncabezados" value="Encabezado destino" />
                    <apex:selectList id="comboEncabezados" size="1" value="{!encabezadoSeleccionado}" multiselect="false" onchange="generaEncabezadoDestino()">
                        <apex:selectOptions value="{!listaEncabezadosCuentas}"/> 
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <br></br>
                <apex:pageBlockSectionItem id="itemCombo" helpText="Debe seleccionar la programación en la que se asignaran los cargos únicos seleccionados" rendered="{!showComboProgramaciones}">
                    <apex:outputLabel for="comboProgramaciones" value="Programación a la que se reasignaran los cargos únicos" />
                    <apex:selectList id="comboProgramaciones" size="1" value="{!programacionSeleccionada}" multiselect="false">
                            <apex:selectOptions value="{!listaprogramaciones}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
            
                <apex:pageBlockSectionItem rendered="{!showComboPeriodos}" id="pageComboPeriodos" helpText="Debe seleccionar un periodo desde el cual se cobraran los cargos recurrentes">
                    <apex:outputLabel for="comboPeriodos" value="Periodo" />
                    <apex:selectList id="listaPeridos" size="1" value="{!periodoSeleccionado}" multiselect="false">
                            <apex:selectOptions value="{!listaPeriodos}"/>
                    </apex:selectList> 
                </apex:pageBlockSectionItem> 
            </apex:pageBlockSection>
            
            <br></br>
            <apex:pageBlockSection columns="1" rendered="{!tablaDestinoActivado}"> 
                <apex:pageBlockSectionItem >
                    <apex:outputLabel for="Cliente__c" value="Cliente" />
                    <apex:outputField id="Cliente__c"
                        value="{!encabezadoDestino.Cliente__c}">
                        <script type="text/javascript">
                            Cliente = document.getElementById('{!$Component.Cliente__c}');
                        </script>
                    </apex:outputField>
                </apex:pageBlockSectionItem>
                
                 <br></br>
                <apex:pageBlockTable id="tablaDestino" value="{!listaWrapperProductosDestino}" var="c">
                    <apex:column id="columnaSens" headerValue="Equipos en sitios">
                             <apex:outputLink value="{!$Site.Prefix}/{!c.equipoSitio.Id}" id="theLink">{!c.equipoSitio.Name}</apex:outputLink>
                    </apex:column>
                    <!-->>>>
                    <apex:column id="columnaSitios" headerValue="Sitio">
                            {!c.equipoSitio.Installation_point__r.Name}
                    </apex:column>
                    -->
                    <apex:column id="columnaOportunidad" headerValue="Oportunidad">
                            {!c.equipoSitio.Oportunidad_Name__c}
                    </apex:column>
                    <apex:column id="columnaNombreProducto" headerValue="Producto">
                            {!c.equipoSitio.NE__ProdId__r.Name}
                    </apex:column>
                    <script type="text/javascript">
                            tabla = document.getElementById('{!$Component.tabla}');
                         </script>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
        </apex:pageBlock> 
        </td>
        </tr>
        </table> 
    </apex:form>
   
</apex:page>