<apex:page showHeader="true" sidebar="true" standardStylesheets="true" tabStyle="Factura__c" controller="ADQ_OpcionesFacturacionController">
    <script type="text/javascript" src="http://www.ajax-cross-domain.com/cgi-bin/ACD/ACD.js?uri=(https://10.225.173.23/telefonica/facturacion/oracle/sf2bd.php)"></script>
    <script src="{!$Site.Prefix}/resource/1227811922000/JQuery" type="text/javascript"></script>
    <script type="text/javascript">
        var datosCargados = false;
        var opcion = '0';
        var idCuenta = '';
        
       
        $(document).ready(function() {
            $(".sf2bd").click(function(event) {
                alert('No cierre la ventana, espere a que termine el proceso de respaldo.');
                $.ajax({
                    dataType: "jsonp",
                    data: "",
                    url: "https://10.225.173.23/telefonica/facturacion/oracle/sf2bd.php?callback=?",
                    success: function(respuesta){
                        if(respuesta.success == true){
                            alert('Los datos se guardaron correctamente en la BD.');
                            logout();
                        }
                        else{
                            var msg_error = 'Se presentaron los siguientes errores: \n\n';
                            var arrayErrores = respuesta.errors.split(respuesta.separador);
                            for (i = 0; i < arrayErrores.length; i++){
                                msg_error += arrayErrores[i] + '\n';
                            }
                            alert(msg_error);
                        }
                    },
                    error: function(xhr,msg,excep) {
                        alert("Status " + xhr.status + ": " + msg + "\n" + excep);
                    }
                });
                
            });
            
            $(".bd2sf").click(function(event) {
                $.ajax({
                    dataType: "jsonp",
                    data: "",
                    url: "https://10.225.173.23/telefonica/facturacion/oracle/bd2sf.php?callback=?",
                    success: function(respuesta){
                        if(respuesta.success == true){
                            alert('Los datos se guardaron correctamente en la BD.');
                        }
                        else{
                            var msg_error = 'Se presentaron los siguientes errores: \n\n';
                            var arrayErrores = respuesta.errors.split(respuesta.separador);
                            for (i = 0; i < arrayErrores.length; i++){
                                msg_error += arrayErrores[i] + '\n';
                            }
                            alert(msg_error);
                        }
                    },
                    error: function(xhr,msg,excep) {
                        alert("Status " + xhr.status + ": " + msg + "\n" + excep);
                    }
                });
            });
            
            //leer archivos de respuesta de sap
            $(".respsap").click(function(event) {
                //window.open("https://10.225.173.23/salesforce2PRODFIX/copiarftp.php?callback=?");
                window.open("https://10.225.173.23/salesforce2PRODFIX/copiarftp.php");
            });

            $(".consf").click(function(event) {
                window.open("{!$Site.Prefix}/apex/ADQ_Configurador");
            });


            
        });
        
        function nextPage(){
            var url = "";
            var url2 = "";
            var parametros = '';
            switch(opcion){
                case '0':
                    url = "{!$Site.Prefix}/apex/ADQ_SelectorOpciones";
                    parametros = 'ps=df';
                    parametros += (idCuenta!='')?'&accid='+idCuenta:'';
                    break;
                case '1':
                   
                    break;
                case '2':
                   
                    break;
                case '3':
                    url = "{!$Site.Prefix}/apex/ADQ_migracion";
                    break;
                case '4':
                    url = "{!$Site.Prefix}/apex/ADQ_TipoCambio";
                    break;  
                case '5':
                    url = "{!$Site.Prefix}/apex/ADQ_ActualizacionFacturaV2";
                    break;
                
                case '6':
                    //url = "{!$Site.Prefix}/apex/FacturaMiscelanea";
                    url = "{!$Site.Prefix}/apex/ADQ_miscelanea";
                    break;
                   
                case '7':
                    url = "{!$Site.Prefix}/apex/ADQ_Informes";
                    break;

                case '8':
                    url2 = "https://10.225.173.23/m2mxml/pages/tables/data.php";
                    break;

                    /*
                case '8':
                    url = "{!$Site.Prefix}/apex/ActualizacionFacturasGTM";
                    break;
                    */
                default:
                    url = "";
                    url2 = "";
            }
            if(url != "") {
                //parametros += (idCuenta != '')?'accid='+idCuenta : '';
                
                url += (parametros!='')?'?'+parametros : '';
                window.parent.location = url;
            }else if(url2 != "") {
                //parametros += (idCuenta != '')?'accid='+idCuenta : '';
                window.open(url2);
            }
            else alert('Error: No ha escogido una opción válida.');
        }
        
        function seleccionaOpcion(op){
            var checks = $("input.check");
            opcion = op;
            
            for(i = 0; i < checks.length; i++){
                checks[i].checked = false;
            }
            
            //alert($(".op"+op)[0]);
            $(".op"+op)[0].checked = true;
        }
        
        function definirFactura(_idCuenta){
            idCuenta = _idCuenta;
            seleccionaOpcion('0');
            nextPage();
        }
        
        function logout(){
            var url = '{!$Site.Prefix}/secur/logout.jsp';
            window.parent.location = url;
        }
        
    </script> 
    
    <apex:sectionHeader title="Facturación" subtitle="Opciones" />
    <apex:pageBlock title="Seleccionar opción" mode="edit">
        <apex:pageMessages />
        <apex:pageBlockButtons >
            <input type="button" value="Continuar" class="btn" onclick="javascript: nextPage();" />
            
            <!--<input type="button" value="Exportar información" class="btn sf2bd" rendered="{!$User.Id == '005700000010TvF'}"/>-->
            <!--<input type="button" value="Importar información" class="btn bd2sf" rendered="{!$User.Id == '005700000010TvF'}"/>-->
            <input type="button" value="Procesar archivo SAP" class="btn respsap"/>
            <input type="button" value="Configuración" class="btn consf" />
            <!-- 
            <apex:outputLink styleClass="sf2bd" value="#" rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}">{!$Label.site.logout}</apex:outputLink>
            -->
        </apex:pageBlockButtons>
        
        <apex:pageBlockSection title="Escoge una opción" collapsible="true" columns="1">
            <apex:form >
                <apex:panelGrid columns="2" id="gridOpciones" cellspacing="5">
                    <apex:inputCheckbox id="check4" onclick="javascript: seleccionaOpcion('4')" styleClass="check op4"/>
                    <apex:outputLabel for="check4" value="Actualización de tipo de cambio"/>
                    <apex:inputCheckbox id="check0" onclick="javascript: seleccionaOpcion('0')" selected="true" styleClass="check op0"/>
                    <apex:outputLabel for="check0" value="Definición de encabezado de facturación" />
                    <apex:inputCheckbox id="check6" onclick="javascript: seleccionaOpcion('6')" styleClass="check op6"/>
                    <apex:outputLabel for="check6" value="Generar factura miscelánea" />
                    <apex:inputCheckbox id="check1" onclick="javascript: seleccionaOpcion('1')" styleClass="check op1"/>
                    <apex:outputLabel for="check1" value="Encabezados de facturación (Cambios / Agrupación de facturas / Generación de anexos)" />
                    <!--
                    <apex:inputCheckbox id="check2" onclick="javascript: seleccionaOpcion('2')" styleClass="check op2"/>
                    <apex:outputLabel for="check2" value="Generar nota de crédito" />
                    -->
                    <apex:inputCheckbox id="check5" onclick="javascript: seleccionaOpcion('5')" styleClass="check op5"/>
                    <apex:outputLabel for="check5" value="Actualización de facturas por período"/>
                    <!--<apex:inputCheckbox id="check3" onclick="javascript: seleccionaOpcion('3')" styleClass="check op3"/>
                    <apex:outputLabel for="check3" value="Generar archivo para SAP" />-->
                    <apex:inputCheckbox id="check7" onclick="javascript: seleccionaOpcion('7')" styleClass="check op7"/>
                    <apex:outputLabel for="check7" value="Informes de facturación"/>

                    <apex:inputCheckbox id="check8" onclick="javascript: seleccionaOpcion('8')" styleClass="check op8"/>
                    <apex:outputLabel for="check8" value="Ver Log M2M"/>

                </apex:panelGrid>
            </apex:form>
        </apex:pageBlockSection>
    </apex:pageBlock>
      
    <apex:form >        
        <apex:pageBlock title="{!totalCuentas} cuentas (s) por facturar" id="blockCuentas">
            <apex:pageBlockSection columns="1">
                <apex:pageBlockTable value="{!listaCuentasNext}" var="acc">
                    <apex:facet name="header">
                        {!labelTabla}
                    </apex:facet>NE__Account__r.Fecha_ultima_facturacion__c
                    <apex:column headerValue="Cuenta">
                        <a href="#" onclick="javascript: definirFactura('{!acc.Id}')" class="check">
                            {!acc.Name}
                        </a>
                    </apex:column>
                    <apex:column headerValue="Última facturación" value="{!acc.Fecha_ultima_facturacion__c}"/>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:actionStatus startText="Procesando..." id="GetStatus"/>
                <apex:commandButton value="Anterior" action="{!Prev}" rendered="{!showprev}" status="GetStatus" rerender="blockCuentas"/>
                <apex:commandButton value="Siguiente" action="{!Next}" rendered="{!shownext}" status="GetStatus" rerender="blockCuentas"/>
                <apex:selectList value="{!cuentaSeleccionada}" size="1" multiselect="false">
                                <apex:selectOptions value="{!listaCuentas}"/>
                            </apex:selectList>
                <apex:commandButton value="Recargar" action="{!refresh}" status="GetStatus" rerender="blockCuentas"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
   
</apex:page>