<apex:page controller="AgentsDashboardController" tabStyle="Case">
    <style>
        
    </style>
    
    <div style="height: 250px; overflow-y: scroll;">
        <apex:pageBlock >
            <apex:pageBlockTable value="{!agents}" var="agent" title="Support Users" style="overflow:hidden;">     
                <apex:column headerValue="Agent">
                    <!--<a href="/{!agent.userId}">  -->
                        {!agent.Name}
                    <!--</a>  -->
                </apex:column>
                <apex:column headerValue="Assigned" style="text-align: center;" value="{!agent.totalTickets}"/>
                <apex:column headerValue="Billing Inquiries" style="text-align: center;" value="{!agent.totalBillingInquiries}"/>
                <apex:column headerValue="Complaints" style="text-align: center;" value="{!agent.totalComplaints}"/>
                <apex:column headerValue="Orders" style="text-align: center;" value="{!agent.totalOrders}"/>
            </apex:pageBlockTable>
        </apex:pageBlock>
    </div>
</apex:page>