<apex:page standardController="NE__Order__c" extensions="AssetItemSubtypeController" tabStyle="NE__Order__c" >
      
    <apex:form >
        <apex:pageBlock >
            
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="{!$Label.site.save}" />             
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection collapsible="false" columns="1" id="oiSections">
                <apex:pageMessages />
                
                <apex:actionregion >
                    <apex:pageBlockSectionItem rendered="{!adminMode == false}" >
                        <apex:selectList value="{!stSelected}" size="1" >
                            <apex:selectOptions value="{!allSubtype}" />
                        </apex:selectList>
                        <apex:commandButton action="{!setAllChanges}" value="Apply to all" rerender="oiSections"/>
                    </apex:pageBlockSectionItem>
                </apex:actionregion>
                
                <apex:pageBlockTable value="{!listOfOiWrappers}" var="wrap" width="100%" >
                    <apex:column headerValue="{!$ObjectType.NE__OrderItem__c.Fields.Order_Item_Code_Linea_Pedido__c.Label}" >
                        <apex:outputfield value="{!wrap.oi.Order_Item_Code_Linea_Pedido__c}" />
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.NE__OrderItem__c.Fields.NE__ProdId__c.Label}" >
                        <apex:outputField value="{!wrap.oi.NE__ProdId__c}" /> 
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.NE__OrderItem__c.Fields.Configuration_Type__c.Label}" >
                        <apex:outputField value="{!wrap.oi.Configuration_Type__c}" /> 
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.NE__OrderItem__c.Fields.Configuration_SubType__c.Label}" rendered="{!adminMode == false}" >
                        <apex:selectList value="{!wrap.oi.Configuration_SubType__c}" size="1" >
                            <apex:selectOptions value="{!wrap.subTypeList}" />
                        </apex:selectList> 
                    </apex:column>
                    <!-- If adminMode is true, ConfigurationSubtype becomes read-only -->
                    <apex:column headerValue="{!$ObjectType.NE__OrderItem__c.Fields.Configuration_SubType__c.Label}" rendered="{!adminMode == true}" >
                        <apex:outputField value="{!wrap.oi.Configuration_SubType__c}" />
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.NE__OrderItem__c.Fields.NE__Status__c.Label}" rendered="{!adminMode == true}" >
                        <apex:inputField value="{!wrap.oi.NE__Status__c}" />
                    </apex:column>
                    <apex:column headerValue="{!$ObjectType.NE__OrderItem__c.Fields.NE__FulfilmentStatus__c.Label}" rendered="{!adminMode == true}" >
                        <apex:inputField value="{!wrap.oi.NE__FulfilmentStatus__c}" />
                    </apex:column>
                </apex:pageBlockTable>
                
            </apex:pageBlockSection>
            
        </apex:pageBlock>
    </apex:form>

</apex:page>