<apex:page controller="BI2_COL_SiteSearch_ctr" docType="html-5.0" applyHtmlTag="false" applyBodyTag="false" showHeader="false" sidebar="false" standardStylesheets="true" title="Lookup Window">
    <style type="text/css">
        body { background-image: url("{!$Resource.BIIN_lookupBackground}") !important;
    </style>

    <script language="javascript">
    window.onload = new function() {// bring popup window to front
        window.focus();
        var ele = document.getElementById('{!$Component.form.block.section.query2}');
        if(ele) {
            ele.focus();
        }
    }

    function fillIn(siteName, siteFullName) {
        siteName        = siteName.replace(new RegExp('&nbsp;', 'g'), ' ');
        siteFullName    = siteFullName.replace(new RegExp('&nbsp;', 'g'), ' ');

        var winMain = window.opener;
        if(winMain == null) {
            winMain = window.parent.opener;
        }
        debugger;
        //var ele = winMain.document.getElementById('j_id0:myForm:creacionBloque:creacionBloque11:siteNameId');
        var ele     = winMain.document.getElementById('{!$CurrentPage.parameters.siteFieldName}');
        ele.value   = siteName;
        
        var campoSedeFull   = winMain.document.getElementById('{!$CurrentPage.parameters.siteFullName}');
        if(campoSedeFull != null) campoSedeFull.value = siteFullName;

        var campoCI = winMain.document.getElementById('{!$CurrentPage.parameters.ciFieldName}');
        if(campoCI != null) campoCI.value = null;

        //var botonCI = winMain.document.getElementById('j_id0:myForm:creacionBloque:creacionBloque2:CIname:CIbutton');
        var botonCI = winMain.document.getElementById('{!$CurrentPage.parameters.ciButton}');
        if(botonCI != null) botonCI.style.visibility = "visible";
				var xbotonCI=winMain.document.getElementById('CloseDSR');
				if(xbotonCI!=null) xbotonCI.hidden=false;
        
        CloseWindow();
        winMain.GuardarUbicacion();
    }

    function CloseWindow() {
        var winMain=window.opener;
        if (null==winMain) {
            winMain=window.parent.opener;
        }
        winMain.closeLookupPopupSite();
    }
    </script>


<apex:messages />
  <apex:form id="form" >
     <apex:actionfunction name="ActionFunctionHabilitarIr" action="{!HabilitarIr}" rerender="BotonId" />
     <div style="width 100%">

            <div class="lookup">
                <div class="bPageTitle">
                    <div class="ptBody secondaryPalette">
                        <div class="content">
                            <img src="{!$Resource.BI2_Lupa}" alt="" class="pageTitleIcon" title=""/>
                            <h1 style="font-size: 18pt;">Lookup</h1>
                        </div>
                    </div>
                </div>
            </div>&nbsp; &nbsp; &nbsp;
            <apex:inputHidden value="{!query1}" id="query1" />
            &nbsp;<apex:outputtext value="Sede" style="color: rgb(74, 74, 86); font-family: Arial, Helvetica, sans-serif; font-size: 10.9200000762939px; font-weight: bold;height: auto;text-align: right; white-space: normal;" />
            &nbsp;<apex:inputtext value="{!query2}" id="query2" label="Sede" style="width:250px" onkeyup="Numerodecaracteres();" onchange="Numerodecaracteres();"  /> &nbsp;
            <apex:commandButton value="Ir" action="{!getContact}" onclick="ClickBloquear();" disabled="{!BoolDeshabilitar}" id="BotonId" status="status" rerender="form" />
            <br></br>
        <apex:pageBlock >
            <apex:pageBlockTable value="{!lcases}" var="cases">
                <apex:column headerValue="Nombre Sede">
                    <!--<a href="#" onclick="fillIn('{!SUBSTITUTE(cases.BIIN_Site__c, ' ', '&nbsp;')}')"><apex:outputText escape="false" value="{!SUBSTITUTE(cases.BIIN_Site__c, ' ', '&nbsp;')}"/></a>-->
                    <apex:outputLink value="#" onclick="fillIn('{!SUBSTITUTE(cases.BIIN_Site__c, ' ', '&nbsp;')}', '{!SUBSTITUTE(cases.TGS_Site_details_contacts__c, ' ', '&nbsp;')}')" rendered="{!NOT(MostrarError)}"><apex:outputText escape="false" value="{!SUBSTITUTE(cases.TGS_Site_details_contacts__c, ' ', '&nbsp;')}"/></apex:outputLink>
                    <apex:outputtext value="{!cases.BIIN_Site__c}" rendered="{!MostrarError}"></apex:outputtext>
                </apex:column>
            </apex:pageBlockTable>

        </apex:pageBlock>

        <apex:outputtext value="No se encontraron Sedes/Sucursales con el criterio de busqueda: {!query2}" rendered="{!mensage}" styleclass="labelCol vfLabelColTextWrap  last "></apex:outputtext>
     </div>
          <apex:outputpanel >
            <apex:actionstatus id="status">
                <apex:facet name="start">
                    <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                                                         height: 100%;opacity:0.65;width:100%;">
                        <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                            <img class="waitingImage" src="/img/loading.gif" title="Por favor, espere..." />
                            <span class="waitingDescription">Por favor, espere...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionstatus>
        </apex:outputpanel>
   </apex:form>

   <style type="text/css">
        .custPopup{
            background-color: white;
            border-width: 2px;
            border-style: solid;
            border-color:#b7a752;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            /* These are the 3 css properties you will need to change so the popup
            displays in the center of the screen. First set the width. Then set
            margin-left to negative half of what the width is. You can add
            the height property for a fixed size pop up if you want.*/
            width: 500px;
            margin-left: -250px;
            top:100px;
        }
        .popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }
    </style>

    <script>
    function ClickBloquear() {
        var campoCliente = document.getElementById('{!$Component.form.query2}').value;
        var LongitudCliente = campoCliente.length;
        if(LongitudCliente >= 3) {
            document.getElementById('{!$Component.form.BotonId}').disabled = false;
        } else {
            document.getElementById('{!$Component.form.BotonId}').disabled = true;
        }
    }

    function Numerodecaracteres() {
        ActionFunctionHabilitarIr();
    }
    </script>
</apex:page>