<apex:page showHeader="true" sidebar="true" extensions="BI_COL_CargarMS_ctr" standardController="Opportunity" tabStyle="Opportunity">
	
<!-- 	 <apex:actionStatus id="Cargar">
				<apex:facet name="start" > 			  
					  
					<div class="waitingSearchDiv" id="Cargando" style="background-color: #fbfbfb; height: 100%;opacity:0.65;width:100%;">
						<div style="top: 100px; width: 60px;">
  
						<img  class="img"  src="{!$Resource.BI_COL_Cargando}" />
        
						</div>
					</div>
				            
				</apex:facet>
	</apex:actionStatus>   -->         

	 <apex:pageMessages id="showmsg"/>  
	<apex:form id="form1" title="Carga Masiva" >
		
		<apex:pageBlock title="Cargue de Archivo"  Id="Cargue_Archivo" rendered="{!IF(blnStatusFile == true , false, true)}">
		            
		    <apex:pageBlockSection title="Cargar MS" columns="1">
		    	
			    <p>
			        <!-- <apex:image value="{!URLFOR($Resource.BI_COL_Cargando)}"/> -->
			        <b><a href="{!URLFOR($Resource.BI_COL_Plantilla_CargaMs)}" target="_blank">Descargar archivo de plantilla CSV para Cargar MS. </a> </b>
			    </p>            
			        <br/><br/>

			    <apex:inputFile value="{!bloContentFile}" filename="{!strNameFile}" /> <br/><br/>
			    <apex:commandButton action="{!ReadFile}" value="Cargar Archivo" style="width:90px" status="Cargar"/> 
		    	
		    </apex:pageBlockSection>
		   
		          
		                       
		</apex:pageBlock>


		 <apex:pageBlock id="vista2" title="RESULTADO DE LA CARGA MS ALTA" rendered="{!IF(blnStatusFile == false , false, true)}" >
           <apex:pageblocktable value="{!lstMSALTA}" var="MSA" >
              <!-- <apex:column value="{!MSA.BI_COL_Oportunidad__c}" /> -->
              <apex:column value="{!MSA.BI_COL_Producto__c}" />
              <apex:column value="{!MSA.BI_COL_Clasificacion_Servicio__c}" />
              <apex:column value="{!MSA.BI_COL_Codigo_unico_servicio__c}" />
              <apex:column value="{!MSA.BI_COL_Duracion_meses__c}" />
              <apex:column value="{!MSA.BI_COL_Sucursal_Origen__c}" />
              <apex:column value="{!MSA.BI_COL_Sucursal_de_Facturacion__c}" />
              <apex:column value="{!MSA.BI_COL_Forma_Pago__c}" />
              <apex:column value="{!MSA.BI_COL_Plazo_Vencimiento_Factura__c}" />
              <apex:column value="{!MSA.BI_COL_Tipo_Facturacion__c}" />
              <apex:column value="{!MSA.BI_COL_Cuenta_facturar_davox1__c}" />
        </apex:pageblocktable>

        <!-- <apex:outputLink value="https://telefonicab2b--coedev--c.cs20.visual.force.com/apex/BI_COL_CargarMS_pag" id="theLink">Volver a la página de carga</apex:outputLink> -->

		</apex:pageBlock>

		<apex:pageBlock id="vista3" title="RESULTADO DE LA CARGA MS POSTVENTA" rendered="{!IF(blnStatusFile == false , false, true)}" >
           <apex:pageblocktable value="{!lstMSPOST}" var="MSP" title="MS de POSTVENTA">
              <!-- <apex:column value="{!MSP.BI_COL_Oportunidad__c}" /> -->
              <apex:column value="{!MSP.BI_COL_Producto__c}" />
              <apex:column value="{!MSP.BI_COL_Clasificacion_Servicio__c}" />
              <apex:column value="{!MSP.BI_COL_Codigo_unico_servicio__c}" />
              <apex:column value="{!MSP.BI_COL_Duracion_meses__c}" />
              <apex:column value="{!MSP.BI_COL_Sucursal_Origen__c}" />
              <apex:column value="{!MSP.BI_COL_Sucursal_de_Facturacion__c}" />
              <apex:column value="{!MSP.BI_COL_Forma_Pago__c}" />
              <apex:column value="{!MSP.BI_COL_Plazo_Vencimiento_Factura__c}" />
              <apex:column value="{!MSP.BI_COL_Tipo_Facturacion__c}" /> 
              <apex:column value="{!MSP.BI_COL_Cuenta_facturar_davox1__c}" /> 
        </apex:pageblocktable>

       <!--  <apex:outputLink value="https://telefonicab2b--coedev--c.cs20.visual.force.com/apex/BI_COL_CargarMS_pag" id="theLink">Volver a la página de carga</apex:outputLink>-->
       		<apex:outputLink value="/apex/BI_COL_CargarMS_pag" id="theLink">Volver a la página de carga</apex:outputLink>
		</apex:pageBlock>
	</apex:form>	

</apex:page>