<apex:page id="idPage" controller="BI_COL_SelectDSPopUp_ctr" showHeader="false" sidebar="false" title="" >
	<style type="text/css">
		.loading-icon {
			background-image: url(/img/loading.gif);
			width: 16px;
			height: 16px;
		}
	
		a.alpha-link {
			font-weight: normal;
			font-size: 91%;
			padding: 0 4px;
			color: #015BA7 !important;
		}
	
		a.alpha-link+a.alpha-link {
			border-left: 1px solid #CFCECE;
		}
	
		a.alpha-link:hover {
			background-color: #e0f5fc !important;
		}
		 
		a.alpha-select {
			font-weight: bold;
			text-decoration: none;
			background-color: #C6E1FF;
			color: #000000 !important;
		}
	
		.search-block {
			text-align: center;
		}
	
		.search-block input {
			margin: 0px 15px 0px 5px;
		}
	
		.search-block-button {
			min-width: 110px;
		}
	
		.process-block {
			text-align: center;
			margin-top: 10px;
		}
	
		.process-block input {
			margin: 0px 15px;
		}
	
		.process-block-button {
			min-width: 110px;
		}
	
		.page-buttons input {
			min-width: 110px;
		}
	</style>
	<script>
		function enviarinformacion( sValor, strIdwrp, sName, sIdSede)
		{
			top.window.opener.ctrSelectedValue( sValor, strIdwrp, sName, sIdSede );
			
			window.close();
		}
	</script>
	
	<body class="hasMotif taskTab  editPage  ext-gecko ext-gecko3 sfdcBody brandQuaternaryBgr">
	
	<apex:form id="TheForm">
		
		<apex:pageBlock title="{!$Label.BI_COL_PBTitle2PopUp}" mode="edit">
			
			<!-- Search Criteria-->
			<apex:pageBlock mode="maindetail" >
				<br/>
				<div style="margin-left: 50px;">
					<h1>{!$Label.BI_COL_Filter}</h1>
					&nbsp;&nbsp;
					<apex:inputText value="{!sSearchName}" />
					&nbsp;&nbsp;
					<apex:commandButton styleClass="search-block-button" 
						value="{!$Label.BI_COL_Find}" 
						action="{!fnFilterDS}" 
						rerender="idTable"
						status="TableUpdateStatus" />
					
					<apex:actionStatus id="TableUpdateStatus" startText="Cargando..."/>

				</div>
			</apex:pageBlock>

			<apex:pageBlockTable value="{!lstDS}" var="a" id="idTable">
				
				<apex:column >
					
					<apex:facet name="header">
						<apex:outputText value="DS" />
					</apex:facet>

					<apex:commandLink styleClass="alpha-link" onclick="enviarinformacion('{!a.Id}','{!sIdwrp}','{!a.Name}','{!a.BI_COL_Sede_Origen__c}');" >
						{!a.Name}
					</apex:commandLink>

				</apex:column>
				
				<apex:column >
					
					<apex:facet name="header">
						<apex:outputText value="Sede" />
					</apex:facet>

					{!a.BI_COL_Sede_Origen__r.Name}

				</apex:column>

			</apex:pageBlockTable>
		
		</apex:pageBlock>
		
	</apex:form>
	
	</body>

</apex:page>