<apex:page id="page" controller="BI_COL_Cup_Calculate_Complexity_ctr">
    <script language='javascript' type='text/javascript'>
    window.onload = function init() {
        window.setTimeout(starProcess, 200);
    }
</script>
    <apex:form id="MainForm">
    <apex:pageBlock id="prefactibilidad" title="Prefactibilidad" rendered="{!calculate}">
            <apex:pageMessages id="msg" />
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Cancelar" onclick="window.history.back();" rerender="frmGenearMS"/>
            </apex:pageBlockButtons>
    <apex:actionFunction id="starProcess" name="starProcess" action="{!calcularComplejidadyPrefactibilidad}" rerender="MainForm" status="loadingStatus"/>
        Por favor espere mientras el sistema calcula la prefactibilidad y Complejidad.
        </apex:pageBlock>
    </apex:form>
</apex:page>