<apex:page controller="BI_FOCOPercentageOfGoalChart_CTRL" sidebar="false" showHeader="false" readOnly="true">
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['gauge']}]}"></script>
    <script type="text/javascript">
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['', {!percentageOfAnnualRevenueGoal}]
            ]);
        
            var formatter = new google.visualization.NumberFormat({ suffix: '%', decimalSymbol: ',', groupingSymbol: '.' });

            var options = {
                width: 398, height: 300,
                redFrom: 0, redTo: 75, redColor: '#E03A3A',
                yellowFrom: 75, yellowTo: 100, yellowColor: '#F2DB2C',
                greenFrom: 100, greenTo: 125, greenColor: '#46BA18',
                minorTicks: 5, majorTicks: ["0", "25", "50", "75", "100", "125"],
                max: 125
            };
        
            var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
        
            formatter.format(data, 1);
            chart.draw(data, options);
        }
    </script>
    <style>
        * { text-rendering: optimizeLegibility; font-size: 100%; }
        svg g g { font-size: 30px; }
        svg g { font-size: 16px; }
        #chart_div { width: 300px; height: 300px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
        #frame { border: solid 1px #CDCDCD; width: 398px; height: 298px; }
    </style>
    <div id="frame">
        <div id="chart_div"></div>
        <apex:outputText value="{!errorMessage}" rendered="{!renderErrorMessage}" styleClass="errorMessage" />
    </div>
</apex:page>