<apex:page extensions="BI_LightOptyListController" standardcontroller="opportunity" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" >
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 
        <head>
            <title>{!$Label.BI_Opportunity_List}</title>      
            <apex:includeScript value="{!URLFOR($Resource.NE__BulkEditor, '/BulkEditor/JS/jquery.min.js')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.SLDS100, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />                        
        </head>    
        
        <apex:remoteObjects >
            <apex:remoteObjectModel name="NE__Order__c" fields="Id,Name,NE__rTypeName__c,NE__TotalRecurringFrequency__c,NE__Recurring_Charge_Total__c,NE__One_Time_Fee_Total__c,NE__Version__c,NE__Order_date__c,NE__OrderStatus__c,NE__OptyId__c,CurrencyIsoCode"/>
        </apex:remoteObjects>    
        
        <style>
            .spinnerLoader
            {
                margin-left: 50% !important;
                margin-top: 3% !important;
            }
            
            .listButton
            {
                cursor:pointer;
            }
            
        </style>
        
        <script>
        
        var optys   = new SObjectModel.NE__Order__c();
        var isMobile = 
        {
            Android: function() {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function() {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function() {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function() {
                return navigator.userAgent.match(/IEMobile/i);
            },
            any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };

        
        function setDynamicRedirect(val)
        {
            if(typeof val !== 'undefined')
            {
                if(val != '')
                {
                    var cartPage    =   'NE__NewConfiguration';
                    if(isMobile.any())
                        cartPage    =   'BI_Market';
                    
                    console.log('cartPage: '+cartPage);
                    
                    if( (typeof sforce != 'undefined') && (sforce != null) )
                        sforce.one.navigateToURL('{!$Site.Prefix}'+'/apex/'+cartPage+'?accId={!opportunity.AccountId}&billAccId={!opportunity.AccountId}&oppId={!opportunity.id}&servAccId={!opportunity.AccountId}&confCurrency={!Opportunity.CurrencyIsoCode}');
                    else
                        window.location.href='{!$Site.Prefix}'+'/apex/'+cartPage+'?accId={!opportunity.AccountId}&billAccId={!opportunity.AccountId}&oppId={!opportunity.id}&servAccId={!opportunity.AccountId}&confCurrency={!Opportunity.CurrencyIsoCode}';                    
                }
            }
        }        

        function goToConfigurationDetail(val)
        {
            console.log(val);
            if(typeof val !== 'undefined')
            {
                if(val != '')
                {
                    if( (typeof sforce != 'undefined') && (sforce != null) )
                        sforce.one.navigateToSObject(val);
                    else
                        window.location.href='{!$Site.Prefix}'+'/'+val;                    
                }
            }
        }   
        
        function updateOutputDiv() 
        {    
        
            optys.retrieve(
                {
                    limit: 10, 
                    where:
                    {
                        NE__OptyId__c: {eq:'{!opportunity.id}'},
                        NE__rTypeName__c:   {eq:'Opty'}
                    },
                    orderby: [{NE__Version__c: 'DESC'}]
                },
                function(error, records) 
                {
                    if (error) 
                    {
                        alert(error.message);
                    } 
                    else 
                    {
                        
                        var html = '<div class="slds-scrollable--x"><table class="slds-table slds-table--bordered">';    
                        
                        html += '<thead>';
                        html += '<tr>';                
                        html += '<th scope="col">{!$ObjectType.NE__Order__c.Fields.Name.Label} </th>'; 
                        html += '<th scope="col">{!$ObjectType.NE__Order__c.Fields.NE__One_Time_Fee_Total__c.Label} </th>';
                        html += '<th scope="col">{!$ObjectType.NE__Order__c.Fields.NE__Recurring_Charge_Total__c.Label} </th>';
                        html += '<th scope="col">{!$ObjectType.NE__Order__c.Fields.NE__Version__c.Label} </th>';
                        html += '<th scope="col">{!$ObjectType.NE__Order__c.Fields.NE__OrderStatus__c.Label} </th>';
                        html += '<th scope="col">Edit </th>';
                        html += '<th scope="col">Revise </th>';
                        html += '<th scope="col">Payback </th>';
                        html += '</tr>';
                        html += '</thead>';
                        html += '<tbody>';
                        
                        
                        var iconEdit    =   "{!URLFOR($Resource.SLDS100, 'assets/icons/standard-sprite/svg/symbols.svg#custom')}";
                        var iconRevise  =   "{!URLFOR($Resource.SLDS100, 'assets/icons/standard-sprite/svg/symbols.svg#marketing_actions')}";
                        var iconPayback  =   "{!URLFOR($Resource.SLDS100, 'assets/icons/standard-sprite/svg/symbols.svg#calibration')}";
    
                        records.forEach(
                            function(record) 
                            {
                                var confId  =   record.get("Id");
                                
                                html += '<tr>';
                                //html += '<td>' + record.get("Id") + '</td>';
                                html += '<td><a style="cursor:pointer;" onclick="goToConfigurationDetail(\''+confId+'\')">' + record.get("Name") + '</a></td>';
                                html += '<td>' + record.get("CurrencyIsoCode")+ " " + record.get("NE__One_Time_Fee_Total__c").toFixed(2) + '</td>';
                                html += '<td>' + record.get("CurrencyIsoCode")+ " " + record.get("NE__Recurring_Charge_Total__c").toFixed(2) + '/' + record.get("NE__TotalRecurringFrequency__c") +'</td>';
                                html += '<td>' + record.get("NE__Version__c") + '</td>';
                                html += '<td>' + record.get("NE__OrderStatus__c") + '</td>';
                                
                                var status  =   record.get("NE__OrderStatus__c");
                                
                                
                                if(status == 'Active')
                                {
                                    html += '<td><svg aria-hidden="true" id="'+confId+'" class="listButton activeEdit slds-icon slds-icon-standard-orders slds-icon--small"><use xlink:href="'+iconEdit+'"></use></svg></td>';
                                    html += '<td><svg aria-hidden="true" id="'+confId+'" class="listButton activeRevise slds-icon slds-icon-standard-orders slds-icon--small"><use xlink:href="'+iconRevise+'"></use></svg></td>';
                                    html += '<td><svg aria-hidden="true" id="'+confId+'" class="listButton activePayback slds-icon slds-icon-standard-orders slds-icon--small"><use xlink:href="'+iconPayback+'"></use></svg></td>';
                                }
                                else
                                {
                                    html += '<td></td>';
                                    html += '<td></td>';
                                    html += '<td></td>'; // PN non comparivano i bordi a fine tabella
                                }
                                
                                html += '</tr>';
                            });
                        html = html + '</tbody></table></div>';
                        
                        var outputDiv = document.getElementById("optyList");   
                        outputDiv.innerHTML = html;
                        
                        
                        $( ".activePayback" ).click(function() 
                        {
                            console.log($(this).attr("Id"));
                            var spinnerIcon =   "{!URLFOR($Resource.SLDS100, '/assets/images/spinners/slds_spinner_brand.gif')}";
                            var htmlSpinner =   "";
                            
                            htmlSpinner +=  '<div class="slds-spinner--large spinnerLoader">';
                            htmlSpinner +=  '<img src="'+spinnerIcon+'" alt="Loading..." />';
                            htmlSpinner +=  '</div>';
                            
                            var outputDiv = document.getElementById("optyList");   
                            outputDiv.innerHTML = htmlSpinner; 
                            
                            console.log('{!$Site.Prefix}'+'/apex/NE__PayBack?ordId='+$(this).attr("Id")+'idOpt={!optyToCheck.id}');
                            
                            if( (typeof sforce != 'undefined') && (sforce != null) )
                                sforce.one.navigateToURL('{!$Site.Prefix}'+'/apex/NE__PayBack?ordId='+$(this).attr("Id")+'&idOpt={!optyToCheck.id}');
                            else
                                window.location.href='{!$Site.Prefix}'+'/apex/NE__PayBack?ordId='+$(this).attr("Id")+'&idOpt={!optyToCheck.id}';       
                        });                        
                        
                        
                        $( ".activeEdit" ).click(function() 
                        {
                            console.log($(this).attr("Id"));
                            var spinnerIcon =   "{!URLFOR($Resource.SLDS100, '/assets/images/spinners/slds_spinner_brand.gif')}";
                            var htmlSpinner =   "";
                            
                            htmlSpinner +=  '<div class="slds-spinner--large spinnerLoader">';
                            htmlSpinner +=  '<img src="'+spinnerIcon+'" alt="Loading..." />';
                            htmlSpinner +=  '</div>';
                            
                            var outputDiv = document.getElementById("optyList");   
                            outputDiv.innerHTML = htmlSpinner; 

                            var cartPage    =   'NE__NewConfiguration';
                            if(isMobile.any())
                                cartPage    =   'BI_Market';
                            
                            console.log('cartPage: '+cartPage);
                            
                            if( (typeof sforce != 'undefined') && (sforce != null) )
                                sforce.one.navigateToURL('{!$Site.Prefix}'+'/apex/'+cartPage+'?ordId='+$(this).attr("Id"));
                            else
                                window.location.href='{!$Site.Prefix}'+'/apex/'+cartPage+'?ordId='+$(this).attr("Id");       
                        });
                        
                        $( ".activeRevise" ).click(function() 
                        {
                            if(confirm('Are you sure?'))
                            {
                                console.log($(this).attr("Id"));
                                var optyId = '{!Opportunity.Id}';
                                console.log('optyId: '+optyId);
                                
                                var spinnerIcon =   "{!URLFOR($Resource.SLDS100, '/assets/images/spinners/slds_spinner_brand.gif')}";
                                var htmlSpinner =   "";

                                htmlSpinner +=  '<div class="slds-spinner--large spinnerLoader">';
                                htmlSpinner +=  '<img src="'+spinnerIcon+'" alt="Loading..." />';
                                htmlSpinner +=  '</div>';

                                var outputDiv = document.getElementById("optyList");   
                                outputDiv.innerHTML = htmlSpinner;                                
                                reviseOpty();
                                /*
                                sforce.connection.sessionId = '{!$Api.Session_ID}'; 
                                var urlPage = sforce.apex.execute("NE.JS_RemoteMethods","reviseOpty", {Id:'{!Opportunity.Id}'});
                                console.log('urlPage: '+urlPage);
                                
                                var urlSplitted =   urlPage.split('ordId=');
                                console.log('urlSplitted: '+urlSplitted);
                                
                                var newConfId   =   urlSplitted[1];
                                console.log('newConfId: '+newConfId);
                                
                                if( (typeof sforce != 'undefined') && (sforce != null) )
                                    sforce.one.navigateToURL('{!$Site.Prefix}'+'/apex/NE__NewConfiguration?ordId='+newConfId);
                                else
                                    window.location.href='{!$Site.Prefix}'+'/apex/NE__NewConfiguration?ordId='+newConfId;*/  
                            }
                        });                        
                        
                    }
                }
            );
        }
        updateOutputDiv();
        </script>

        <apex:form >
            <apex:actionFunction action="{!reviseOpty}" name="reviseOpty" status="actStatusLoad" rerender="debugPanel">
            </apex:actionFunction>
        </apex:form>

        <apex:outputPanel id="debugPanel" layout="block">
            <apex:pageMessages />
            <script>
                var optyRevised =   '{!newConfId}';
                console.log("optyRevised: "+optyRevised);  
                if(optyRevised != null && optyRevised != "")
                {
                    var cartPage    =   'NE__NewConfiguration';
                    if(isMobile.any())
                        cartPage    =   'BI_Market';
                    
                    console.log('cartPage: '+cartPage);                    
                    
                    if( (typeof sforce != 'undefined') && (sforce != null) )
                        sforce.one.navigateToURL('{!$Site.Prefix}'+'/apex/'+cartPage+'?ordId='+optyRevised);
                    else
                        window.location.href='{!$Site.Prefix}'+'/apex/'+cartPage+'?ordId='+optyRevised;
                }
            </script>
        </apex:outputPanel>
        
        <body>     
            <div class="slds">  
                <!-- PRIMARY CONTENT WRAPPER -->
                <div class="myapp">    
                    <h2>Opportunity List</h2>
                    <!-- ACCOUNT LIST TABLE -->
                    <div id="optyList" class="slds-p-vertical--medium"></div>
                    <!-- / ACCOUNT LIST TABLE -->    
                    
                </div>
                <!-- / PRIMARY CONTENT WRAPPER -->                        
            </div>
        </body>   
    </html>    
</apex:page>