<apex:page renderAs="pdf"  standardController="Event" extensions="BI_MinutasReunion_Controler">
    
   
    <apex:image url="{!IF(csegmento='Empresas',URLFOR($Resource.BI_Visitas_Logo_Empresas),URLFOR($Resource.BI_Visitas_Logo_Negocios))}" style="float:right;"  rendered="{!cCountry == 'Argentina'}"></apex:image>
  
    <br/><br/><br/><br/><br/>

    
    <apex:outputText style="align:center" value="Minuta de la reunión" /><br/><br/><br/>
    <apex:outputText style="font-style:italic" value="Nombre de la Cuenta:  {!event.Account.Name}" /><br/>
    <apex:outputText style="font-style:italic" value="Nombre del Contacto:  {!event.Who.Name}" /><br/>
    
    <apex:outputText style="font-style:italic" value="Email:  {!cEmail}" /><br/>
    <apex:outputText style="font-style:italic" value="Teléfono:  {!cPhone}" /><br/>
    <apex:outputText style="font-style:italic" value="Ejecutivo de la cuenta:  {!cAccOwner}" /><br/>
    <apex:outputText style="font-style:italic" value="Participante Asignado: {!event.Owner.Name}" /><br/><br/><br/>
    
    <apex:outputText style="font-style:italic" value="Asunto: {!event.Subject}" /><br/>
    <apex:outputText style="font-style:italic" value="Fecha/Hora: {!event.ActivityDateTime}" /><br/>
    <apex:outputText style="font-style:italic" value="Duración: {!event.DurationInMinutes}" /><br/>
    
	<apex:outputText style="font-style:italic" value="Temas Tratados: {!event.Description}" /><br/><br/>  <br/>
    <apex:outputText style="font-style:italic" value="Notas :"/><br/>
    <apex:outputText value="{!HTMLENCODE(event.BI_FVI_Resultado__c)}" style="white-space:pre;font-style:italic;" escape="false"/>
</apex:page>