<apex:page showHeader="false" sidebar="false" standardController="Account" action="{!IF($Profile.Name == 'TGS Integration User',
 URLFOR($Action.Account.Edit, Account.Id, ['retURL'= Account.Id]),null)}">
  
        <apex:pageblock >
            <apex:iframe src="{!$Label.BI_Widgets_FullStack_Url + Account.BI_Identificador_Externo__c}" scrolling="true" id="theIframe" html-sandbox="allow-forms allow-scripts allow-pointer-lock allow-popups allow-same-origin"/>
        </apex:pageblock>
            
        <apex:form id="updateSite">
            <apex:pageblock mode="edit" >
                <apex:pageBlockSection title="Información adicional" columns="2" Rendered="{!Account.BI_Identificador_Externo__c != null}">
                    <!--<apex:repeat value="{!$ObjectType.Account.FieldSets.FieldsFullStack}" var="f">
                        <apex:inputField value="{!Account[f]}" required="true" />
                    </apex:repeat>-->
                </apex:pageBlockSection>

                <apex:pageBlockButtons >
                    <apex:commandButton value="Cancel" action="{!cancel}"/>
                    <apex:commandButton value="Save" action="{!save}"/>
                </apex:pageBlockButtons>
            </apex:pageblock>
        </apex:form>
</apex:page>