<apex:page showHeader="true" standardController="Task" extensions="BI_NewObjectButtonRegionCtrl" action="{!actionFunction}">

    <script type="text/javascript">   

		function gup(name){
			name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
			var regexS = "[\\?&]"+name+"=([^&#]*)";
			var regex = new RegExp( regexS );
			var results = regex.exec( window.location.href );
			if( results == null ){
			  return null;
			}else{
			  return results[1];
			}
		}

		var what_id = gup('what_id');
		var who_id = gup('who_id');
		var retURL = gup('retURL');
        
        //var acc_Id = "{!acc_Id}";
		//"retURL={!$Site.Prefix}/";
		// if(acc_Id != ""){
		// 	retURL += acc_Id;
		// }else{
			// retURL += "{!keyPrefix}/o";
		// }

        var url = "{!$Site.Prefix}/{!keyPrefix}/e?"+ retURL;
        
        if({!IF(AND(len(recordType) != 0),true,false)}){ //Put RecordType
            url += "&RecordType={!recordType}";
        }

        if(what_id != null){
        	url += "&what_id="+what_id;
        }

        if(who_id != null){
        	url += "&who_id="+who_id;
        }

        if(retURL != null){
        	url += "&retURL="+retURL;
        }

        url += "&nooverride=1";

    	parent.location.href= url;
    </script>
	
</apex:page>