<apex:page standardController="BI_Sede__c" extensions="BI_NewObjectButtonRegionCtrl" action="{!actionFunction}" showHeader="true">
    <script type="text/javascript">  
    
        var url = "{!$Site.Prefix}/{!keyPrefix}/e?";

		if("{!$Permission.BI_Skip_New_Buttons}" == "false"){
            //Params for custom regions: 
    		url += "Name=Autom%C3%A1tico&"; 
        }
		
        if({!IF(AND(len(acc_Name) != 0,len(acc_Id) != 0),true,false)}){
            url += "retURL={!$Site.Prefix}/{!acc_Id}&saveURL={!$Site.Prefix}/{!acc_Id}&";
        }
        url += "nooverride=1";
        
        window.parent.location.href= url;
        
    </script>   
</apex:page>