<apex:page standardController="BI_Facturas__c" extensions="BI_NewObjectButtonRegionCtrl">
    <script type="text/javascript">  
        
        var url = "{!$Site.Prefix}/{!keyPrefix}/e?retURL={!$Site.Prefix}%2F{!keyPrefix}%2Fo";
        
            if({!IF(len(user_country) != 0,true,false)}){
                url += "&{!dynamicIds['BI_Country__c']}={!acc_country}";
            }
        }
                  
        url += "&nooverride=1";  
        parent.location.href= url;
        
    </script>   
</apex:page>