<apex:page standardController="BI_O4_Offer_Request__c" extensions="BI_O4_OfferRequest_sendTIWSController" tabStyle="BI_O4_Offer_Request__c" showHeader="true" sidebar="false" action="{!run}">
	<apex:sectionHeader title="Auto-Running Apex Code"/>
	<apex:outputPanel >
	  If you can see this page, something went terribly wrong.  You should have
	  been redirected back to the record you clicked the button from.
		<apex:outputLink value="/{!BI_O4_Offer_Request__c.Id}" id="theLink" rendered="{!NOT(ISNULL(BI_O4_Offer_Request__c.Id))}">Back to page detail.</apex:outputLink>
	</apex:outputPanel>
	<apex:outputPanel rendered="{!error != null}">
		<script type="text/javascript">
			console.log('Log ({!error.Name})', '{!baseURL}/{!error.Id}')
		</script>
	</apex:outputPanel>
</apex:page>