<apex:page standardController="Case" 
			extensions="BI_O4_DDO_Controller" 
			showHeader="true" 
			sidebar="true" 
			id="wrapper" 
			action="{!assignOffice}">

	<apex:form id="theForm">
		<apex:pageBlock id="ao" mode="detail" title="Assign Office">
			<apex:pageMessages id="messages"/>
			<apex:pageBlockButtons location="bottom" id="pbButtons">
				<apex:commandButton value="{!$Label.BI_O4_Cancel}" action="{!cancel}" status="cancelling"/>
				<apex:actionStatus id="processing" layout="block" startText="{!$Label.BI_O4_Please_Wait}"/>
			</apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>	
</apex:page>