<apex:page showHeader="true" sidebar="true" standardController="Opportunity" extensions="BI_OptyManualApprovalProcess_CTRL" rendered="{!isvalidOppty}" action="{!isManual}">
    <script>
    function checkValue(e) {
        if (e.keyCode == 13) {
            event.preventDefault();
            submitForApproval();
            return redirect();
        }
    }
    </script>
    <apex:sectionHeader title="{!header}"/>
    <apex:form >
        <apex:actionFunction name="redirect" action="{!redirect}"/>
        <apex:actionFunction name="submitForApproval" action="{!submitForApproval}" oncomplete="redirect();"/>
        <apex:pageBlock >
            <apex:repeat rendered="{!error}" value="{!listProcessedErrors}" var="errorMsg" id="errors">
                <div style="text-align:center;margin: 10px auto;">
                <apex:pageBlockSection columns="1">
                    <apex:pageMessage summary="<center>{!errorMsg}</center>"
                     severity="error" strength="3" escape="false"/>
                </apex:pageBlockSection>
                </div>
            </apex:repeat>

            <apex:pageBlockButtons location="top">
            <apex:outputPanel >           
                <apex:commandButton value="Enviar a aprobador siguiente"
                     action="{!submitForApproval}" rendered="{!manual}" oncomplete="redirect();"/>
                <apex:commandButton value="{!buttonsName}" rendered="true" immediate="true" reRender="none"
                     onclick="window.parent.location.href='{!$Site.Prefix}/apex/BI_Opportunity_HiddenSubmitButton?id={!Oppty.Id}'"/>
            </apex:outputPanel>
            </apex:pageBlockButtons>

            <div style="text-align:center;width:50% !important;margin: 10px auto;">
            <apex:pageBlockSection columns="1" rendered="{!manual}">
                <apex:pageMessage summary="<center>Este registro requiere aprobación adicional.
                 El nombre del paso siguiente es<br/><br/><b>{!approvalStep}</b><br/><br/>
                 El administrador ha especificado que debe seleccionar manualmente al aprobador siguiente. Especifique un usuario en el cuadro que aparece abajo y, a continuación, haga clic en Enviar a aprobador siguiente.</center>"
                 severity="info" strength="0" escape="false"/>
                <apex:inputField id="lookup" value="{!con.OwnerId}" label="Aprobador Siguiente" required="true" onkeypress="checkValue(event);" onkeydown="checkValue(event);" onkeyup="checkValue(event);"/>
            </apex:pageBlockSection>
            </div>

            <apex:pageBlockButtons location="bottom" id="buttonsBottom"> 
            <apex:outputPanel >              
                <apex:commandButton value="Enviar a aprobador siguiente"
                     action="{!submitForApproval}" rendered="{!manual}" oncomplete="redirect();"/>
                <apex:commandButton value="{!buttonsName}" rendered="true" immediate="true" reRender="none"
                     onclick="window.parent.location.href='{!$Site.Prefix}/apex/BI_Opportunity_HiddenSubmitButton?id={!Oppty.Id}'"/>
            </apex:outputPanel>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>