<apex:page standardController="BI_Solicitud_envio_productos_y_servicios__c"
		   extensions="BI_PageSelectionController"
		   action="{!doRedirect}">
    <script>
    	"Cargando...";
		var winurl=window.location.href;
        var redirect = "{!url}";
        if ( winurl.indexOf('portalpartner') > -1 ){ 
            top.location.href = redirect.replace('/apex', '/portalpartner/apex');
        } 
        else{ 
            top.location.href = redirect;
        }
    </script>
</apex:page>