<apex:page showHeader="true" sidebar="false" id="BI_RedirectTo_BI_Evolucion_de_deuda" standardStylesheets="false">
	<script src="/soap/ajax/29.0/connection.js" type="text/javascript"></script>
	<script src="/soap/ajax/29.0/apex.js" type="text/javascript"></script>
	<script type="text/javascript">	
		function gup(name){
			name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
			var regexS = "[\\?&]"+name+"=([^&#]*)";
			var regex = new RegExp( regexS );
			var results = regex.exec( window.location.href );
			if( results == null ){
			  return null;
			}else{
			  return results[1];
			}
		}
		var idAcc = gup('pv0');

		sforce.connection.sessionId = '{!$Api.Session_ID}';
		var strQuery = "select Id, DeveloperName From Report where DeveloperName = 'BI_Evolucion_deuda_del_cliente'"; 
		var queryResult = sforce.connection.query(strQuery); 
		var reg = queryResult.getArray("records"); 

		var url = "{!$Site.Prefix}/";
		if(reg != null ){
			url += reg[0].Id + "?pv0=" + idAcc; 
		}else{
			alert('No se ha encontrado el informe: BI_Evolucion_deuda_del_cliente');
			url += idAcc; 
		}

		window.location.href = url;
		
	</script>
	
</apex:page>