<apex:page standardController="NE__Document_Component__c" extensions="CWP_AC_OfertaAutocotizador_CTRL" renderAs="PDF" showHeader="false"  applyHtmlTag="false" >
 <head> 
        <style type="text/css" media="print">
            @page {
                size: A4;
                margin-bottom: 80px;
                margin-top: 40px;
                @top-center {
                               content: element(header);
                           }
                @bottom-left{
                                content: element(footer);
                            }
            }
        </style>
 </head>

<apex:repeat var="text" value="{!lstText}">
        <apex:outputText value="{!text}" escape="false"></apex:outputText>
    </apex:repeat>

</apex:page>