<apex:page controller="CWP_OrderItemListExcel_ctrl" showHeader="false" applyHtmlTag="false"  standardStylesheets="false" contentType="application/vnd.ms-excel#{!serviceUnit}_{!service3}.xls" >
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </head>    
    <!-- JULIO Cambio en la excel 

contentType="application/vnd.ms-excel#OrderItemListExport.xls"
-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="header" style="padding:0px !important; background-image:url({!URLFOR($Resource.PCA_Template_Resources,'platino_zoomin/Imagens/Gradiente_header_2000X1px.jpg')});">
        <tr>
            <td align="center" id="tgsHeader" >
                <!--<apex:image width="162" height="81" id="tgs_header_logo" url="http://globedia.com/imagenes/noticias/2014/4/26/telefonica-lleva-pleito-america-movil-senado-mexico_2_2052430.jpg" ></apex:image>-->
                <apex:image width="630" height="95" id="tgs_header_logo" url="{!$Label.CWP_Url_img+headerPhoto}" ></apex:image>
            </td>
        </tr>
    </table>
    <br> </br>
<br> </br>
<br> </br>
<br> </br>
<apex:outputPanel rendered="{!showProdCategor}">
    <br> </br>
{!$Label.CWP_resultExcel}<b>{!serviceUnit}</b>
<br> </br>

{!$Label.TGS_CWP_SERVICE}: <b> <apex:outputText value="{!service2}" escape="false"/></b> 

<br>
</br> 
{!$Label.TGS_CWP_SU}: <b>{!HTMLENCODE(service3)}</b> 
<br> </br>
</apex:outputPanel>

<!-- <apex:outputPanel rendered="{!!showProdCategor}">
<b>{!$Label.CWP_AppliedFilters}</b>
<br> </br>
<apex:repeat value="{!appliedFilters}" var="filter">
<b>{!mapLabel[filter]}: </b>{!appliedFilters[filter]}
<br></br>
</apex:repeat>
<br> </br>
</apex:outputPanel>
--> 
<br> </br>
<div class="tablaWrap ">
    <table id="serviceTable" class="tablaTickets"  border="1" align="center" bordercolor="black" cellspacing="0">
        <thead>
            <tr valign="bottom" align="center">
                <th style="color: white;" bgcolor="#00a5b7">{!$Label.TGS_CWP_PARID}</th>
                <apex:repeat value="{!filterByAttribute}" var="attr" >
                    <th  style="color: white;" bgcolor="#00a5b7">
                        <apex:outputText value="{!attr}"/>
                    </th>
                </apex:repeat>
                <apex:repeat value="{!filterByFieldOrderedList}" var="attr" >
                    <th  style="color: white;" bgcolor="#00a5b7">
                        <apex:outputText value="{!attr}"/>
                    </th>
                </apex:repeat>
            </tr>
        </thead>
        <tbody>
            <apex:repeat value="{!listToShow}" var="result">
                <tr>
                    <td>
                        <apex:outputText value="{!result.name}"></apex:outputText>
                    </td>
                    <apex:repeat value="{!result.dynamicAttributes}" var="attr">
                        <td>
                            
                            <apex:outputText value="{!attr.Value}"/>
                            
                        </td>
                    </apex:repeat>
                </tr>
            </apex:repeat>
        </tbody>
    </table>
</div>
</apex:page>