<apex:page >
    <apex:includeLightning />
    <div id="LightningComponent"/>
    
    <script>
    	var id = '{!$CurrentPage.parameters.contactId}';
        $Lightning.use("c:FS_CHI_ValidaContacto_app", function() {
            $Lightning.createComponent(
                "c:FS_CHI_ValidaContacto_cmp",
                { contactId : id },
                "LightningComponent",
                function(cmp) {
                    $A.eventService.addHandler({ "event": "c:FS_CHI_evnt", "handler" : myFunctionFromVisualforce });
                });
        });
    
    function myFunctionFromVisualforce (event){
        debugger;
        window.parent.location="/" +'{!$CurrentPage.parameters.contactId}';           
    }
    </script>
</apex:page>