<apex:page sidebar="false" standardController="account" extensions="ParqueInstaladoController" standardStylesheets="true" readOnly="true">

    <apex:includeScript value="{!URLFOR($Resource.TGS_jqueryUI, '/js/jquery-1.10.2.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.TGS_jqueryUI, '/js/jquery-ui-1.10.4.custom.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.TGS_jqueryUI, '/css/custom-theme/jquery-ui-1.10.4.custom.css')}"/>

    <apex:includeScript value="{!URLFOR($Resource.DataTablesComponent, '/js/jquery.dataTables.js')}"  />
    <apex:stylesheet value="{!URLFOR($Resource.DataTablesComponent, '/css/jquery.dataTables.css')}" />

    <style>
        /* Table Styles */
        table.dataTable tr.odd td.sorting_1 {
            background-color: inherit;
        }
        
        table.dataTable tr.even td.sorting_1 {
            background-color: inherit;
        }
        
        .dataTables_wrapper{
            background-color: #edf2f5;
            /*border: solid 1px #DADADA;*/
            margin-top:20px;
        }
        .dataTables_wrapper input[type=text]{
            width:auto;
        }
        .dataTables_length, .dataTables_filter, .dataTables_info,.dataTables_paginate{
            margin:5px;
            font-size: 11px;
        }

        table.dataTable.tablaServices {
            border-collapse: collapse;
            border: solid 1px #DADADA;
        }
        table.dataTable.tablaServices thead{
            background: #0095a7;

        }
        table.dataTable.tablaServices th {
            border: solid 1px #DADADA;
            padding-top: 10px;
            padding-bottom: 10px;
            color:white;
            font-weight: normal;
        }
        
        table.dataTable.tablaServices th, table.dataTable.tablaServices td{
            /*color: #005482;*/
            font-family: Verdana, Geneva, sans-serif;
        }
        table.dataTable.tablaServices td{
            color: #005482;
        }
        
        table.dataTable.tablaServices a{
            text-decoration: underline;
            color: #005482;
        }
        
        table.dataTable.tablaServices a:hover{
            color: #00d7e9;
        }

        
        
        table.dataTable tr.odd {
            background-color: #F2F4FF;
        }
    </style>

    <script>
    
        jQuery(document).ready(function(){
            initializeTable();
        });
        
        function initializeTable() {        
            jQuery(".tablaServices").dataTable({
                "orderClasses":    false 
            });
        }
    
    </script>

  <apex:dataTable value="{!listaResultados}" var="result" styleClass="tablaServices">
      <apex:column headerValue="Id" >
          <apex:outputLink value="/{!result.Identifier}" target="_top">{!result.Name}</apex:outputLink>
      </apex:column>
      <apex:column headerValue="Service Name" value="{!result.productName}"/>
      <apex:column headerValue="Status" value="{!result.status}"/>
      <!--<apex:column headerValue="Configuration Id" >
          <apex:outputLink value="/{!result.configurationId}" target="_top">{!result.configurationName} </apex:outputLink>
      </apex:column>-->
      <!--apex:column headerValue="Provisional RFS" >
          <span style="display:none;">{!result.provisionalRFSDateSort}</span> {!result.provisionalRFSDate}
      </apex:column-->
      
      <apex:column headerValue="RFS" >
          <span style="display:none;">{!result.RFSDateSort}</span> {!result.RFSDate}
      </apex:column>
      <apex:column headerValue="Account" value="{!result.creationAccount}"/>
      <apex:column headerValue="Cost Center" value="{!result.relatedCostCenter}"/>     
      <apex:column headerValue="Site" value="{!result.site}"/>
      <apex:column headerValue="Key Attribute 1" value="{!result.keyAttribute1}"/>
      <apex:column headerValue="Key Attribute 2" value="{!result.keyAttribute2}"/>
      <apex:column headerValue="Key Attribute 3" value="{!result.keyAttribute3}"/>
      <apex:column headerValue="Warnings">
          <apex:outputText rendered="{!result.backStatus != 'Active'}">
             <label class="recordWarning" style="font-weight: bold; color:orange; text-align:center; width: 100%; float: left;" title="There is already a modification/termination order on this service unit">!</label>
          </apex:outputText>
      </apex:column>
  </apex:dataTable>
</apex:page>