<apex:page showHeader="false" sidebar="false" standardStylesheets="false" controller="PCA_Oferta_PopUpDetail" action="{!checkPermissions}">
    
    <!-- FONTS START -->
    <apex:stylesheet value="{!URLFOR($Resource.PCA_Template_Resources, 'platino_base/css/Noto.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.PCA_Template_Resources, 'platino_base/css/MerriweatherSans.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.PCA_Template_Resources, 'platino_base/css/Anaheim.css')}"/>
    <!-- FONTS END -->
    
    <apex:stylesheet value="{!URLFOR($Resource.PCA_Template_Resources, 'platino_base/css/PCA_Template_Base.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.PCA_Template_Resources, 'platino_zoomin/css/layout.css')}"/>
        <apex:stylesheet value="{!$Resource.PCA_EstilosCSS}" />

<!--FancyBox
	<script>
		$j(document).ready(function(){
	
			$j("#openPopUp").fancybox(
			{
				'framewidth':'500px',
				'frameheight':'450px',
				closeClick : 'false',
				openEffect : 'fade',
				closeEffect : 'fade',
				autoCenter : 'true',
				scrolling : 'yes',
				iframe : {
					scrolling : 'yes',
					preload : false
				}
			});
		});
	</script>
	<!-- 
	<style>
		.fancybox-inner {overflow:auto !important;}
		.fileActual:hover {
			background: #ebebed;
		}
	</style>
	 -->
	<!--FancyBox-->	
        
    <style>
    	
   		html, body, div.popUp_Container{
   			box-sizing: border-box;
		}
		div.popUp_Container{
			display:block;
			heigth:auto;
			padding: 0 2em 2em;
			margin:0;
		}
		
		table.table_PopUp{
			width:100%;	
		
		}
	
    	
    	table.subTable_LineItems, table.table_MainData{
    		width:100%;
    	}
    	
    	table.subTable_LineItems tr td, table.table_MainData tr td{
    		padding: 2px 23px;
    	}
    	table.subTable_LineItems th:first-child {
		    width: 60%;
		}
    	.subTable_LineItems td {
    		text-align: center;
		}
    	
    	span.h2_blue{
    		font-size:18px;
    		width:100%;
    		text-align:left;
    		
    	}
    	/*
        body{
            bacground-color: #fff;
        }
        
        h1,h2,h3,h4{
            color: #0296be;
            font-family: 'Merriweather Sans',sans-serif;
            text-transform: uppercase;
        }
        
        h1{
            font-size: 15px;
        }
        
        table{
            font-family: 'Merriweather Sans',sans-serif;
        }
        
		
        
        td.empty{
            display:none;
        }
        
        table tr td textArea,
        table tr td input{
            width:100%;
        }
        
        .bt{
            width: auto;
            min-width:100px;
            margin: 10px 5px 5px 5px;
        }

        
        .dataCol{
        padding:0px;
        }
        
        
        
    /*DEVELOPER
	table{
		border:1px solid red;
	}
	
	table tr td{
		border:1px solid blue;
	}*/
    </style>
    
    <apex:pageBlock id="Block"> 
        <apex:form >
   <div class="popUp_Container">     
		<table class="table_MainData">
			<tr>
				<td colspan="2" style="padding:0">
					<br/>
			       	<span class="h2_blue">{!$Label.PCA_Ofertas}</span>
			        <br/>  <br/>
				</td>
			</tr>
			
			
	        <apex:repeat value="{!fieldSetRecord}" var="f">
	     		<tr>
	     			<th style="width:40%;text-align: right;">
		                <apex:outputText styleClass="labelfont" value="{!f.field}:"/>
		            </th>                
	 				<td>
	 					<apex:outputText styleClass="valuefont" value="{!f.value}"/>
	 				</td>
	 				</tr>        
	        </apex:repeat>
		</table>
            <!-- 
            <table style="margin-left:33px">
            <tr align="left">
            <th colspan="2">
            	<span class="h2_blue">attach</span>
            </th>
            </tr>
            <apex:repeat var="f" value="{!attach}">
             <tr>
             <td>
                 <div><apex:outPutText styleClass="labelfont" style="margin-right:8px" value="{!f.Name}"/>
                 <a href="{!URLFOR($Action.Attachment.Download,f.Id)}" target="_parent"><img align="middle" src="{!URLFOR($Resource.PCA_imgSlider, 'task.png')}"/></a></div>
            </td>
            </tr> 
            </apex:repeat>
           
            <apex:repeat var="f1" value="{!attach}">
            <tr>
             <td>
             		<a id="openPopUp" data-fancybox-type="iframe" href="{!URLFOR($Page.AB_DiegoAttachment,'',[id = f1.Id])}">
		            	<span class="labelfont">
							<apex:outputText styleclass="valuefont" value="{!f1.Name}" style="text-decoration:underline;"/> <img align="middle" src="{!URLFOR($Resource.PCA_imgSlider, 'task.png')}"/>
						</span>
					</a>
	            </td>
            </tr> 
            </apex:repeat>
            </table>
             -->
             <br/><br/>
            <span class="h2_blue">{!$Label.PCA_LineaOferta}</span>
            <br/>
            
            <table class="subTable_LineItems"> 
            
            
            <tr style="border-bottom-color:white">
            
                <apex:repeat var="head" value="{!fieldSetRecords.headers}">
                    <th scope="col" style = "border-bottom: 1px solid white; width:25%;"> 
                        <div align="center">
                            <apex:outputText styleClass="labelfont" value="{!head}"/>
                        </div> 
                    </th>
                </apex:repeat>
                
            </tr>
            
            <tr>
            
            <apex:repeat var="record" value="{!viewRecords}"> 
                
                    <tr>
                    <apex:repeat var="item" value="{!record.values}">
                        <td scope="col" style = "border-bottom: 1px solid white; text-align:center;">                          
                            <!--                                
                            <apex:outputPanel rendered="{!IF(item.field == firstHeader, true, false)}">
                                    <apex:outputPanel >                             
                                        <a id="openPopUp" data-fancybox-type="iframe" href="{!URLFOR($Page.PCA_Pedido_PopUpDetail,'',[id = record.id])}">
                                            <span class="h5_blue" >
                                                <apex:outputText style="color:#4a4a56; font-family:Arial; font-weight:normal"  value="{!item.value}"/>
                                            </span>
                                        </a>
                                    </apex:outputPanel>
                                </apex:outputPanel>
                                
                                <apex:outputPanel rendered="{!IF(item.field != firstHeader, true, false)}">
                                    <apex:outputText styleClass="valuefont" value="{!item.value}"/>
                                </apex:outputPanel> 
                            -->
                            
                                <apex:outputText styleClass="valuefont" value="{!item.value}"/>
                        </td>
                    </apex:repeat>
                    </tr>
                
            </apex:repeat>
            
            </tr>
		</table>
	</div>
</apex:form>
</apex:pageBlock>
     
</apex:page>