<apex:page id="PCA_Knowledge" sidebar="false" controller="PCA_Knowledge_Controller" standardStylesheets="false">

  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Page: PCA_Knowledge
  <!-- End Default Content REMOVE THIS -->
    <apex:tabPanel switchType="Name" selectedTab="name2" id="theTabPanel">
        <apex:tab label="One" name="name1" id="tabOne">content for tab one</apex:tab>
        <apex:tab label="Two" name="name2" id="tabTwo">content for tab two</apex:tab>
    </apex:tabPanel>
    

</apex:page>