<apex:page sidebar="false" id="PCA_MarketPlace" standardStylesheets="false" controller="PCA_MarketPlace" action="{!checkPermissions}">
<apex:composition template="PCA_Template">  
	 
		<apex:define name="body">
		<style>
            #root{
              margin-top:20px;
            }
            .backgroundImg{                
                background-position: center bottom;
                background-repeat: no-repeat;
                background-image:url("{!if(AttImg!=null,URLFOR($Action.Attachment.Download, AttImg),URLFOR($Resource.PCA_imgSlider, 'Relationship.png'))}");
                background-size: 1024px 350px;
                height: 350px;
            
            }
            .h7{
                color:#EFF4F5;
            }
            .h1c{
                color:#EFF4F5;
            }
        </style>
        
<div class="backgroundImg">	        
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" class="fundo">
  <tr>
    <td height="300" align="center"><table width="1024" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="584" height="330" align="right" valign="top"><table width="520" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="70" valign="bottom" class="h1c"><apex:outputText value="{!if(ImgBack.BI_Titulo__c!=null,ImgBack.BI_Titulo__c,$Label.PCA_MarketPlace)}"/></td>
          </tr>
          <tr>
            <td height="20" valign="middle" class="h1b"><img src="{!URLFOR($Resource.PCA_Iconos, 'Imagens/Line_1X512px.png')}" width="512" height="1" /></td>
          </tr>
          <tr>
            <td height="65" valign="top" class="h7" style="padding-bottom:16px"><apex:outputText value="{!if(ImgBack.BI_Informacion_Menu__c!=null,ImgBack.BI_Informacion_Menu__c,$Label.PCA_MarketPlaceText)}"/></td>
          </tr>
          <tr>
            <td><table width="520" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="30" height="30" align="center" valign="middle"><img src="{!URLFOR($Resource.PCA_imgCentral,'/icons/Catalogo.png')}" width="40" height="32" /></td>
                <td height="30" class="h7">{!$Label.PCA_Catalogo}</td>
              </tr>
              <tr>
                <td width="30" height="30" align="center" valign="middle"><img src="{!URLFOR($Resource.PCA_imgCentral,'/icons/factura_a.png')}" width="40" height="32" /></td>
                <td height="30" class="h7">{!$Label.PCA_Ofertas}</td>
              </tr>
              <tr>
              	<td width="30" height="30" align="center" valign="middle"><img src="{!URLFOR($Resource.PCA_imgCentral, '/icons/Reports.png')}" width="40" height="32" /></td>
                <td height="30" class="h7">{!$Label.PCA_Pedidos}</td>
              </tr>
              <tr>
                <td width="30" height="30" align="center" valign="middle">&nbsp;</td>
                <td height="30">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="440" align="center" valign="middle"><!-- <img src="{!URLFOR($Resource.PCA_ImgPanelPrincipal, 'Imagens/slider/Pics/Market.png')}" style="margin-top:30px;" width="440" height="330" /> --></td>
      </tr>
    </table></td>
  </tr>
 </table>
 </div>
 <div id='root'>
  	 <a href="" class='box' id='box4'></a>
  	 <a href="{!$Site.Prefix}/PCA_Catalogo" class='box' id='box1'><img src="{!URLFOR($Resource.PCA_imgCentral,'/icons/Catalogo.png')}" width="50" height="40"/><p class="text_titulo_blue">{!$Label.PCA_Catalogo}</p><p class="text_gray">Consulte los productos de telefónica</p></a>
     <a href="{!$Site.Prefix}/PCA_AutogestionOferta" class='box' id='box2'><img src="{!URLFOR($Resource.PCA_imgCentral,'/icons/factura_a.png')}" width="50" height="40"/><p class="text_titulo_blue">{!$Label.PCA_Ofertas}</p><p class="text_gray">{!$Label.PCA_OfertasDesc}</p></a>
     <a href="{!$Site.Prefix}/PCA_ReclamosPedidos?type=o" class='box' id='box3'><img src="{!URLFOR($Resource.PCA_imgCentral,'/icons/Reports.png')}" width="50" height="40"/><p class="text_titulo_blue">{!$Label.PCA_Pedidos}</p><p class="text_gray">{!$Label.PCA_PedidosDesc}</p></a>    
  
  </div>
  <div style="width:100%; height:200px;"></div>
 <!-- 
  <tr>
    <td align="center"><table width="1024" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="40" height="250">&nbsp;</td>
        <td align="center" valign="middle">
        
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20%" align="center" valign="top"><table width="100%" border="0" cellpadding="5" cellspacing="0" class="tb">
              <tr>
                <td height="60" align="center" valign="bottom" class="h1"><img src="{!URLFOR($Resource.PCA_Iconos, 'Imagens/IconesNovos/Catalogo.png')}" width="50" height="40" /><br/>
                <apex:outputText styleClass="h2blue">{!$Label.PCA_Catalogo}</apex:outputText></td>
                </tr>
              <tr>
                <td width="20%" align="center" valign="top" class="h1"><span class="h2">Consulte los productos de telefónica</span></td>
                </tr>
              <tr>
                <td align="center" valign="top"><a href="{!$Site.Prefix}/PCA_Catalogo"><input name="button6" type="submit" class="bt" id="button6" value="Ir a {!$Label.PCA_Catalogo}" /></a></td>
                </tr>
            </table>
        
        </td>
            <td width="20%" align="center" valign="top">
            
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="tb">
              <tr>
                <td height="60" align="center" valign="bottom" class="h1"><img src="{!URLFOR($Resource.PCA_Iconos, 'Imagens/IconesNovos/factura_a.png')}" width="50" height="40" /><br/>
                <apex:outputText styleClass="h2blue">{!$Label.PCA_Ofertas}</apex:outputText></td>
              </tr>
              <tr>
                <td width="20%" align="center" valign="top" class="h1"><span class="h2">{!$Label.PCA_OfertasDesc}</span></td>
              </tr>
              <tr>
                <td align="center" valign="top"><a href="{!$Site.Prefix}/PCA_AutogestionOferta"><input name="button" type="submit" class="bt" id="button" value="Ir a {!$Label.PCA_Ofertas}" /></a></td>
              </tr>
            </table>

            </td>
            <td width="20%" align="center" valign="top">
            
             <table width="100%" border="0" cellpadding="5" cellspacing="0" class="tb">
              <tr>
                <td height="60" align="center" valign="bottom" class="h1"><img src="{!URLFOR($Resource.PCA_Iconos, '/Imagens/IconesNovos/Reports.png')}" width="50" height="40" /><br/>
                <apex:outputText styleClass="h2blue">{!$Label.PCA_Pedidos}</apex:outputText></td>
                </tr>
              <tr>
                <td width="20%" align="center" valign="top" class="h1"><span class="h2">{!$Label.PCA_PedidosDesc}</span></td>
                </tr>
              <tr>
                <td align="center" valign="top"><a href="{!$Site.Prefix}/PCA_ReclamosPedidos?type=o"><input name="button7" type="submit" class="bt" id="button8" value="Ir a {!$Label.PCA_Pedidos}" /></a></td>
                </tr>
            </table>
            
            </td>
            <td width="20%" align="center" valign="top">&nbsp;</td>
            <td width="20%" align="center" valign="top">&nbsp;</td>
          </tr>
        </table></td>
        <td width="40">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table> -->
</apex:define>
</apex:composition>
	<!-- <apex:includeScript value="{!URLFOR($Resource.PCA_Portal_Resources,'PortalPlatinumResource/jquery-1.9.1.js')}"/> --> 		

</apex:page>