<apex:page sidebar="false" controller="PCA_IdeasCornerDetailController" extensions="PCA_IdeasCornerController" standardStylesheets="false" action="{!checkPermissions2}">
<apex:includeScript value="{!URLFOR($Resource.PCA_caroufredsel,'carouFredSel-6.2.1/jquery.carouFredSel-6.2.1-packed.js')}"/>        
<apex:includeScript value="{!URLFOR($Resource.PCA_easyslider,'easyslider1.7/js/easySlider1.7.js')}"/>
    <apex:stylesheet value="{!$Resource.PCA_EstilosCSS}" />
<style> 
span.bt.slim{
    padding: 5px;
    width: auto;
}

.floatRight{
    float: right;
} 
.form_full{
    border:1px solid #dedede;
    width:200px;
    height: 23px;
}
</style>
<script type="text/javascript">
window.onload = function (){
loadInfoDetail();
}

$j(document).ready(function(){
        //$j(".mostrarPopUp a").leanModal({ closeButton: ".modal_close" });
     

    $j("#popUpAddComent2").fancybox({
        autoSize : true,
        autoResize : true,
        autoCenter : true,
        
        //autoWidth : true,
        maxWidth  : '700',//PARA CAMBIAR ANCHO, AQUI
        //minWidth  : '500',
        //width : 'auto',
        
        //height : '450',
        //minHeight : '300',
        //maxHeight : '600',
        
        scrolling : 'auto',
        
        closeClick : false,
        openEffect : 'fade',
        closeEffect : 'fade',
        
        
        iframe : {
            scrolling : 'auto',
            preload : true  
        }
    });
    
    $j("#popUpNewnewIdea").fancybox({
            autoSize : true,
            autoResize : true,
            autoCenter : true,
            
            //autoWidth : true,
            maxWidth  : '700',//PARA CAMBIAR ANCHO, AQUI
            //minWidth  : '500',
            //width : 'auto',
            
            //height : '450',
            //minHeight : '300',
            //maxHeight : '600',
            
            scrolling : 'auto',
            
            closeClick : false,
            openEffect : 'fade',
            closeEffect : 'fade',
            
            
            iframe : {
                scrolling : 'auto',
                preload : true  
            }
        });
    });
</script>

<apex:composition template="PCA_Template">  
    <apex:define name="body">
    <apex:actionregion >
        <apex:form >
        
        <apex:actionfunction name="loadInfoDetail" action="{!loadInfoDetail}" reRender="detailIdea" />
        <script type='text/javascript'>
        function noenter(ev)  {
            if (window.event && window.event.keyCode == 13 || ev.which == 13) {
                doSearchAF();
                fnShowStatus('block')
                return false;
             } else {
                  return true;
             }
         }
    </script>
        <apex:outputPanel id="detailIdea">
            <table border="0" align="center" cellpadding="0" cellspacing="0" class="fundo_b" style="max-width:1024px;">
              <tr>
                <td>
                    <table width="1024" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="50">
                            
                            </td>
                            <td>
                                <a style="text-decoration:none;" id="popUpNewnewIdea" data-fancybox-type="iframe" href="{!URLFOR($Page.PCA_IdeasCornerNewPopUp)}"><span class="bt slim"> {!$LAbel.PCA_ComparteIdea} </span></a>
                            </td>
                            <td>
                            </td>
                            <td id="search" align="right">
                                <table cellpadding="2" cellspacing="2">
                                    <tr>
                                        <td>
                                            <apex:inputtext styleClass="form_full" id="searchStr" value="{!searchText}" onkeypress="return noenter(event);"></apex:inputtext>
                                        </td>
                                        <td>
                                            <apex:commandButton style="width:100px;" styleclass="bt" Id="btnSearch" action="{!searchIdeas}" onclick="fnShowStatus('block')" oncomplete="fnShowStatus('none')" rerender="detailIdea" title="{!$Label.PCA_SearchButton}" value="{!$Label.PCA_SearchButton}" />
                                            <apex:actionFunction name="doSearchAF" oncomplete="fnShowStatus('none')" action="{!searchIdeas}" rerender="detailIdea"  />
                                        </td>
                                    </tr>
                                </table>                
                            </td>
                        </tr>               
                        <tr>
                            <td width="35" height="250">&nbsp;</td>
                            <td align="center" valign="top" style= "width: 300px;">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="296" align="left" valign="top">
                                            <table width="295" border="0" cellpadding="0" cellspacing="0" >
                                                <tr>
                                                    <td align="left">
                                                    <apex:outputPanel id="AllPopIdeas">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                    <td height="45" class="h5_blue">
                                                        
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" >
                                                            <tr>
                                                                <td height="45" class="blue_line">
                                                                    <span class="h5_blue">{!$Label.PCA_IdeasPopulares}</span>
                                                                </td>
                                                                <td width="30" align="center" valign="bottom">
                                                                    <span class="h2">
                                                                        
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                    <td>
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        
                                                            <apex:repeat value="{!listPopularIdeasWrapper}" var="item" id="theRepeat0" rows="{!numberPopularIdeasShow}">
                                                                <tr class="gray_line">
                                                                    <td height="26">
                                                                        <span class="h6"><a style="text-decoration:none;" href="{!$Site.Prefix}/PCA_IdeasCornerDetails?Id={!item.Id}"><span class="h2">{!item.title}</span></a></span><br />
                                                                    </td>
                                                                    <td width="30" height="26" class="h2">
                                                                        <span class="h2">{!item.VoteTotal}</span>
                                                                    </td>
                                                                </tr>
                                                            </apex:repeat>
                                                                <tr>
                                                                     <td></td>
                                                                     <td><apex:commandLink style="text-decoration:none;" styleclass="h5_blue" action="{!incrementNumberPopularIdeasShow}" value=">>" rendered="{!MorePopularIdeas}" rerender="AllPopIdeas" /></td>
                                                                 </tr>                                              
                                                        </table>
                                                    </td>
                                                    </tr>
                                                    </table>
                                                    </apex:outputPanel>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                    <apex:outputPanel id="AllMyIdeasPanel" >
                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td height="40" class="blue_line">
                                                                    <div class="mostrarPopUp">
                                                                        <span class="h5_blue">
                                                                            {!$Label.PCA_MisIdeas}
                                                                        </span>
                                                                        
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                
                                                                <!-- 
                                                                <apex:dataTable value="{!listMyIdeasWrapper}" var="item" styleClass="myIdeasTable" rows="5">
                                                                    <apex:column styleclass="gray_line" >
                                                                        <apex:outputlink value="{!$Site.Prefix}/PCA_IdeasCornerDetails?Id={!item.Id}">{!item.Title}</apex:outputlink> 
                                                                    </apex:column>
                                                                    <apex:column value="{!item.VoteTotal}" />
                                                                </apex:dataTable>
                                                                 -->
                                                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                
                                                                    <apex:repeat value="{!listMyIdeasWrapper}" var="item" id="theRepeatMisIdeas" rows="{!numberMyIdeasShow}">
                                                                        <tr class="gray_line">
                                                                            <td height="26">
                                                                                <span class="h6"><a style="text-decoration:none;" href="{!$Site.Prefix}/PCA_IdeasCornerDetails?Id={!item.Id}"><span class="h2">{!item.title}</span></a></span><br />
                                                                            </td>
                                                                            <td width="30" height="26" class="h2"><span class="h2">{!item.VoteTotal}</span></td>
                                                                        </tr>
                                                                    </apex:repeat>
                                                                        <tr>
                                                                            <td></td>
                                                                            <td><apex:commandLink style="text-decoration:none;" styleclass="h5_blue" action="{!incrementNumberMyIdeasShow}" value=">>" rendered="{!MoreMyIdeas}" rerender="AllMyIdeasPanel" /></td>
                                                                        </tr>
                                                                </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        </apex:outputPanel>
                                                    </td>
                                                </tr>
                                                <!--  -->
                                                <tr>
                                                    <td align="left">
                                                        <apex:outputPanel id="AllIdeasPanel" >                                                          
                                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td height="40" class="blue_line">
                                                                        <div class="mostrarPopUp">
                                                                            <span class="h5_blue">
                                                                                {!$Label.PCA_IdeasRecientes}
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                            <apex:repeat value="{!listAllIdeasWrapper}" var="item" id="theRepeatTodasIdeas" rows="{!numberAllIdeasShow}" >
                                                                                <tr class="gray_line">
                                                                                    <td height="26">
                                                                                        <span class="h6"><a style="text-decoration:none;" href="{!$Site.Prefix}/PCA_IdeasCornerDetails?Id={!item.Id}"><span class="h2">{!item.title}</span></a></span><br />
                                                                                    </td>
                                                                                    <td width="30" height="26" class="h2"><span class="h2">{!item.VoteTotal}</span></td>
                                                                                </tr>
                                                                            </apex:repeat>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td><apex:commandLink style="text-decoration:none;" styleclass="h5_blue" action="{!incrementNumberAllIdeasShow}" value=">>" rendered="{!showMoreNumberAllIdeas}" rerender="AllIdeasPanel" /></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </apex:outputPanel>
                                                    </td>
                                                </tr>
                                                <!--  -->
                                            </table>
                                        </td>
                                        </tr>
                                    </table>
                            </td>
    
                            <!-- Votos  -->
                        <td valign="top">
                                
                                <apex:outputPanel layout="inline" rendered="{!IF(AND(!NoRowsIdeas,ideaId != null, selectedIdeaDetail.Title != ''),true,false)}" >
                                <table style="margin-left:50px;">
                                
                                    <tr><td style="width: 130px;">
                                        <span class="h2"> {!$Label.PCA_Votos}: {!selectedIdeaDetail.VoteTotal}</span>
                                    </td></tr>
                                    <tr><td style="padding-left:12px;">
                                        <apex:outputpanel id="voteOK" rendered="{!!hasVote}">
                                            <span class="h2" onclick="voteIdea('OK')"><img src="{!URLFOR($Resource.PCA_Template_Resources, '/platino_zoomin/Imagens/like.png')}"/></span>
                                        </apex:outputpanel>     
                                    </td></tr>
                                    <tr><td style="heigth:15px;"></td></tr>
                                    <tr><td style="padding-left:12px;">
                                        <apex:outputpanel id="voteKO" rendered="{!!hasVote}"> 
                                            <span class="h2" onclick="voteIdea('KO')"><img src="{!URLFOR($Resource.PCA_Template_Resources, '/platino_zoomin/Imagens/dont.png')}"/></span>
                                        </apex:outputpanel> 
                                    </td></tr>
                                </table>    
                                 
                                </apex:outputPanel>                   
                            </td>
    
                            
                            <!-- Idea detail  -->
                            
                            <td valign="top">
                             <apex:outputPanel layout="inline" rendered="{!IF(AND(NoRowsIdeas, ideaId != null, selectedIdeaDetail.Title != ''),true,false)}">
                                <table>
                                
                                <tr>
                                    <td><span class="h5_blue">No se han encontrado resultados</span></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>&nbsp;</th>
                                </tr>
                                <tr>
                                    <td width="800">
                                        <span class="h2">
                                            <apex:outputText value="No se encontraron resultados" escape="false"/>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>&nbsp;</th>
                                </tr>
                                
                                <tr>
                                    <td class="h2">
                                        <br/>
                                    </td>
                                </tr>
                                                                
                            </table>
                            </apex:outputPanel>
                            <apex:outputPanel layout="inline" rendered="{!IF(AND(!NoRowsIdeas, ideaId != null, selectedIdeaDetail.Title != ''),true,false)}">
                                <table>
                                
                                <tr>
                                    <td><span class="h5_blue">{!selectedIdeaDetail.Title}</span></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>&nbsp;</th>
                                </tr>
                                <tr>
                                    <td width="800">
                                        <span class="h2">
                                            {!$Label.PCA_FechaCreacion}: {!selectedIdeaDetail.createdDate} <br/>
                                            {!$Label.PCA_PublicadoPor}: {!selectedIdeaDetail.createdBy}<br/><br/>
                                            <apex:outputText value="{!HTMLENCODE(selectedIdeaDetail.body)}" escape="false"/>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>&nbsp;</th>
                                </tr>
                                
                                <tr>
                                    <td class="h2">
                                        <br/>
                                        
                                        <div class="mostrarPopUp">                                  
                                            <span onclick="manageShowDiv('tableListComment');">[{!allComments}] {!$Label.PCA_Comentarios}.</span>   
                                            <a id="popUpAddComent2" data-fancybox-type="iframe" href="{!URLFOR($Page.PCA_IdeasCornerPopUp,'',[id = selectedIdeaDetail.Id])}">  
                                                <span class="bt slim floatRight" onclick="inicializeNewComment();">{!$Label.PCA_AnadirComentario}</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                
                                <!-- Lista de comentarios -->
                                <tr>                                
                                    <td>
                                        <table id="tableListComment" style="display:none;">
                                            <apex:repeat value="{!commentWrapperList}" var="item" id="theRepeatComent">
                                            <tr>
                                                <td width="200"><span class="h2">{!item.createdDate}<br/>{!item.createdBy}</span></td>
                                                <td ><span class="h2">
                                                        <apex:outputText value="{!item.Body}" /><br/>
                                                    </span></td>
                                            </tr>
                                            </apex:repeat>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            </apex:outputPanel>
                            </td>
                            <td width="35">&nbsp;</td>                                              
                        </tr>
                    </table>
                    </td>
                    
                </tr>
            </table>    
    </apex:outputPanel> 
        <script>
            function manageShowDiv(idElement){
                console.log('@@ idElement: ' + idElement);                      
                console.log(document.getElementById(idElement).style.display);          
                if(document.getElementById(idElement).style.display =='none'){
                    document.getElementById(idElement).style.display = 'block';
                }else{
                    document.getElementById(idElement).style.display = 'none';          
                }       
            }
        </script>
    
            <!-- Modal de Ideas -->
    
            <div class="popup" id="modalIdeas" style="display:none">
                <div class="modalHeader">
                    
                        <table width="700" border="0" align="center" cellpadding="0" cellspacing="0" class="modal">
                            <tr>
                                <td height="100" align="center" valign="middle">
                                    <table width="620" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="80" valign="bottom">
                                                <span class="h2_blue">
                                                    <span class="h5">
                                                        {!$Label.PCA_AnadirIdea}
                                                    </span>
                                                </span>
                                            </td>
                                            <td align="right" valign="middle" onclick="$('#modalIdeas').css('display', 'none'); $('#lean_overlay').css('display', 'none');">
                                                <a class="close" href="#" title="Close">
                                                    <span class="displace"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table width="620" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="210" valign="top">
                                                <table width="620" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td align="center" valign="middle" bgcolor="#ebebeb">
                                                                        <apex:outputpanel id="popUpEmailError02">
                                                                            <apex:outputpanel id="popUpEmailErrorB" rendered="{!IF(error, true, false)}">
                                                                                <span style="color: red;">{!message}</span><br/><br/>
                                                                            </apex:outputpanel>
                                                                        </apex:outputpanel>
                                                            <apex:outputpanel >         
                                                            <table width="90%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td>
                                                                        <span class="h2">{!$Label.PCA_Titulo}:</span>
                                                                    </td>
                                                                    <td height="60">
                                                                        <apex:inputText value="{!newIdea.Title}" style="size:80"/>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" height="60">
                                                                        <span class="h2">{!$Label.PCA_Idea}:</span><br/>
                                                                        <apex:inputTextarea id="body" value="{!newIdea.Body}" rows="5" cols="20" style="margin: 2px; height: 113px; width: 372px; resize:none"/>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="h2">&nbsp;</span>
                                                                    </td> 
                                                                    <td height="50" valign="bottom" align="center">
                                                                        <apex:commandLink action="{!insertIdea}" styleClass="bt_modal" value="Insertar Idea" id="theButton2" rerender="popUpEmailError02, popUpEmailErrorB" oncomplete="if({!!error}){alert('Idea creada correctamente. En breve será publicada');goToDetails('NewIdea');}"/>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="h2">&nbsp;</span>
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            </table>
                                                            </apex:outputpanel>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                
                            </tr>
                            <tr>
                                <td height="90" align="center" valign="middle">
                                    <table width="620" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                        <!-- 
                                            <td height="50" valign="middle" onclick="inicializeIdea();$('#modal').css('display', 'none');$('#lean_overlay').css('display', 'none');">
                                                <a href="#" class="back" title="Back"><span class="displace"></span></a>
                                            </td>
                                         -->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        
            <!-- Modal de Coment -->
            
            <div class="popup" id="modalComent" style="display:none; top: 50px;">
                <div class="modalHeader">
                    
                        <table width="700" border="0" align="center" cellpadding="0" cellspacing="0" class="modal">
                            <tr>
                                <td height="100" align="center" valign="middle">
                                    <table width="620" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="80" valign="bottom">
                                                <span class="h2_blue">
                                                    <span class="h5">
                                                        {!selectedIdeaDetail.Title}
                                                    </span>
                                                    <br/>
                                                    {!$Label.PCA_AnadirComentario}
                                                </span>
                                            </td>
                                            <td align="right" valign="middle" onclick="$('#modalComent').css('display', 'none'); $('#lean_overlay').css('display', 'none');">
                                                <a class="close" href="#" title="Close">
                                                    <span class="displace"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <table width="620" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="210" valign="top">
                                                <table width="620" border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td align="center" valign="middle" bgcolor="#ebebeb">
                                                            <table width="90%" border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td height="60" align="right">
                                                                        <apex:outputpanel id="popUpEmailError01">
                                                                            <apex:outputpanel id="popUpEmailErrorA" rendered="{!IF(error, true, false)}">
                                                                                <span style="color: red;">{!message}</span><br/><br/>
                                                                            </apex:outputpanel>
                                                                        </apex:outputpanel>
                                                                        <apex:outputpanel >
                                                                            <apex:inputTextarea value="{!newComment.CommentBody}" id="comentario" style="margin: 2px; height: 193px; width: 621px; resize:none"/>
                                                                        </apex:outputpanel>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="50" valign="bottom" align="center">
                                                                            <apex:commandLink action="{!createComment}" styleClass="bt_modal" value="Crear comentario" id="theButton" 
                                                                                rerender="popUpEmailError01, popUpEmailErrorA" oncomplete="if({!!error}){alert('Comentario creado correctamente. En breve será publicado.');location.reload();}"/>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="h2">&nbsp;</span>
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="90" align="center" valign="middle">
                                    <table width="620" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                        <!-- 
                                            <td valign="middle" onclick="$('#modal').css('display', 'none');$('#lean_overlay').css('display', 'none');">
                                                <a href="#" class="back" title="Back"><span class="displace"></span></a>
                                            </td>
                                         -->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table> 
                </div>
            </div>
        
            
            <apex:actionFunction name="goToIdeas" action="{!goToIdeas}" />
            
            <apex:actionfunction name="voteIdea" action="{!voteIdea}" oncomplete="if({!error == false}){
                    alert('Gracias por votar. En breve el voto será procesado.');
                }location.reload();
                recargar();">
                <apex:param name="valor" assignTo="{!ajaxParamValueVote}" value="" />
            </apex:actionfunction>
            
            <apex:actionfunction name="inicializeNewComment" action="{!inicializeNewComment}" rerender="popUpEmailErrorA"/>
            
            <apex:actionfunction name="crearComentario2" action="{!createComment}" rerender="popUpEmailError01, popUpEmailError" 
                oncomplete="alert('a');if({!!error}){recargar();}"/>
            
            <apex:actionfunction name="recargar" action="{!recargar}"/>
            
            <apex:actionfunction name="inicializeIdea" action="{!inicializeIdea}" rerender="popUpText1, popUpEmailError01, popUpEmailError" oncomplete=""/>
            
        </apex:form>
        </apex:actionregion>
    </apex:define>  
</apex:composition>

</apex:page>