<apex:page id="idPage" standardcontroller="Survey__c" extensions="SurveyAndQuestionController" cache="false" sidebar="false" showheader="false" >

<apex:stylesheet value="{!$Page.labs_survey_css}" />

<apex:includeScript value="{!URLFOR($Resource.SurveyForce, 'jquery.js')}"/>
<script type="text/javascript" src="{!URLFOR($Resource.SurveyForce, 'survey_jui.js')}" ></script>


<style>
  table tr{
    width:200px;
    border:1px;
  } 
  
  form[id*="navBar"]{
    position: relative;
    background: #fff;
    z-index: 10;
  }
  
  #navBarBg{
    width: 100%;
    height: 30px;
    z-index: 9;
    position: fixed;
    top:0;
    left: 0;
    background: #fff;
    display: none;
    -moz-box-shadow:0 0 30px #000;
    -webkit-box-shadow:0 0 30px #000;
  }
  
  #surveyMenu h4{
    display: block;
    margin-top: 10px;
  }
  
</style>
<script src="/soap/ajax/18.0/connection.js" type="text/javascript"></script>
<script src="/soap/ajax/18.0/apex.js" type="text/javascript"></script>
<script>sforce.connection.sessionId = '{!$Api.Session_ID}'; </script>
<script type="text/javascript">

  function clearFields(){
   $("textarea[id*='qQuestion']").val("");
   $("textarea[id*='qChoices']").val("");
  }
  
  function confirmDelete(deleteId){
    var r = confirm("Are you sure you want to delete this question?");
    if(r){
        return true;
    }
    else
    {
        return false; 
    }
  } 
  
  $(document).ready(function() {
  
    // Displays overlays
    $("a[rel]").overlay({oneInstance: 'false', mask:'#000', zIndex:'1000',
        onLoad: function() {
          if ($.browser.msie && $.browser.version == 7.0) {
        $('#exposeMask').hide();
      }
    }
    });
    

    
    // setup h2#editMenu to work as tabs for each div directly under div#editSections
    $("h2#editMenu").tabs("div#editSections > div", {tabs: 'span'});
    
    $(window).scroll(function() {
        if ($(this).scrollTop() > 148) {
            $('#navBarBg').fadeIn(1000);
            $('form[id*="navBar"]').css('position', "fixed");
            $('form[id*="navBar"]').css('top', "4px");
            $('form[id*="navBar"]').css('width', $('body').width()-40 + "px");
        } else if ($(this).scrollTop() < 148){
            $('#navBarBg').fadeOut(100);
            $('form[id*="navBar"]').css('position', "relative");
            $('form[id*="navBar"]').css('top', "0px");
        }
    });
    
    $("#justQuestionList").sortable({ 
        axis: 'y', opacity: .6, tolerance: 'pointer', revert: true,
        update: function(event, ui) { 
        var elemParent = $('#justQuestionList');
        var childrenList = elemParent.children();
        var childIds = new Array();
        var cIds = "";
        for(var i=0; i<childrenList.length; i++){
         cIds = cIds + childrenList[i].id + ",";
         
        }      
        
            jQuery("input[id*='newOrderList']").val(cIds);          
            jQuery("a[id*='saveOrder']").effect("pulsate", { times: 2 }, 1000); 
        }
        
    });
    
    $("#surveyDeleteLink").click(function() {
        if ($("#surveyDelete").css("display") == "none"){
            $("#surveyDelete").fadeIn();
        }
        else 
            $("#surveyDelete").fadeOut();
    });
    
    $("#surveyCancelLink").click(function() {
        $("#surveyDelete").fadeOut();
    });

  });
  
  function resetSelect(){
    $("select[id*='questionSelect']").val(0);
  }; 
  
</script>
<div id="labs_container">   
<div id="fade" class="black_overlay"></div>

<apex:form id="idForm">
  <apex:pageBlock >
   <apex:pageMessages ></apex:pageMessages>

    <div id="navBarBg"></div>

    <apex:outputPanel id="navBar">
        
        <apex:commandLink styleclass="btn left" rel="#addQuestion" action="{!makeNewQuestionLink}" value="{!$Label.LABS_SF_AddQuestion}" onComplete="resetSelect();" reRender="addQuestion, rowQuestion, rowQuestionPreview, singleSelect, singleSelectPreview, multiSelect, multiSelectPreview, freeText, freeTextPreview, selectQuestionType"/>
   <apex:commandLink id="saveOrder2" action="{!updateOrderList}" value="{!$Label.LABS_SF_SaveOrder}" styleclass="btn left"/>        
        <apex:inputHidden id="newOrderList" value="{!newOrderW}" />    

        
        
        <span id="alertOrderUpdated">The survey has been updated.</span>

    
    </apex:outputPanel>   
  </apex:pageBlock>
      
    <div id="addQuestion" class="overlay">
    <apex:outputPanel id="selectQuestionType" >

        <span class="prompt">{!$Label.LABS_SF_SelectQuestionType}
            <div id="topPickList">
              <apex:selectList size="1" value="{!questionType}" id="questionSelect">
                <apex:selectOptions value="{!questionTypeOptions}" />
                <apex:actionSupport event="onchange" action="{!setupQuestionFields}" oncomplete="clearFields()" reRender="idPage:idForm:IdSecciones"/> 
              </apex:selectList>
            </div>
        </span>

    </apex:outputPanel>
   
  <!-----------------------------------------Single Select Question------------------------------------------->
  <apex:outputPanel id="IdSecciones">
  
  <apex:outputPanel id="singleSelect" >
    <apex:pageBlock rendered="{!showSingleSelect}">
     <apex:outputPanel id="singleSelectForm">
        <span class="prompt">{!$Label.LABS_SF_Question}</span>
        <apex:inputTextArea cols="30" rows="3" id="qQuestion" value="{!qQuestion}"  title="The question you would like asked"/>
        
        <span class="prompt">{!$Label.LABS_SF_RequiredQuestion} <apex:inputCheckbox value="{!qRequired}" title="Is an answer for the quesiton required?(default is true)" selected="{!qRequired}"/></span>

        <span class="prompt" style="float: none; display:{!qIsCSI}">&nbsp;&nbsp;{!$Label.LABS_SF_CSIQuestion} <apex:inputCheckbox value="{!qCSI}" title="Is the quesiton CSI?(default is false)" selected="{!qCSI}"/></span>
        
        <span class="prompt">{!$Label.LABS_SF_PleaseEnterTheList}</span>
        <apex:inputTextArea cols="40" rows="12" id="qChoices" value="{!qChoices}"  title="Answers to question..."/>
        
        <br style="clear:both;" />
        <a href="" class="right btn" onClick="$('.close').click(); return false;">{!$Label.LABS_SF_Cancel}</a>
        <apex:commandButton action="{!controllerSavQuestion}" value="{!$Label.LABS_SF_Save}"/>
        
      </apex:outputPanel>
   </apex:pageBlock>
  </apex:outputPanel>
  <!---------------------------------------------------------------------------------------------------------->
  <!-----------------------------------------Multi Select Question------------------------------------------->
  <apex:outputPanel id="multiSelect" >
    <apex:pageBlock rendered="{!showMultiSelect}">
     <apex:outputPanel id="multiSelectForm">
        <span class="prompt">{!$Label.LABS_SF_Question}</span>
        <apex:inputTextArea cols="30" rows="3" id="qQuestion" value="{!qQuestion}" title="The question you would like asked"/>
        
        <span class="prompt">{!$Label.LABS_SF_RequiredQuestion} <apex:inputCheckbox value="{!qRequired}" title="Is an answer for the quesiton required?(default is true)" selected="{!qRequired}"/></span>

        <span class="prompt" style="float: none; display:none">&nbsp;&nbsp;{!$Label.LABS_SF_CSIQuestion} <apex:inputCheckbox value="{!qCSI}" title="Is the quesiton CSI?(default is false)" selected="{!qCSI}"/></span>

        <span class="prompt">{!$Label.LABS_SF_PleaseEnterTheList}</span>
        <apex:inputTextArea cols="40" rows="12" id="qChoices" value="{!qChoices}"  title="Answers to question..."/>
        
        <br style="clear:both;" />
        <a href="" class="right btn" onClick="$('.close').click(); return false;">{!$Label.LABS_SF_Cancel}</a>
        <apex:commandButton action="{!controllerSavQuestion}" value="{!$Label.LABS_SF_Save}"/>
      </apex:outputPanel>
   </apex:pageBlock>
   
  </apex:outputPanel>
  <!---------------------------------------------------------------------------------------------------------->
  <!-----------------------------------------Free Text Question----------------------------------------------->
  <apex:outputPanel id="freeText" >
    <apex:pageBlock rendered="{!showFreeText}">
     <apex:outputPanel id="freeTextForm">
        <span class="prompt">{!$Label.LABS_SF_Question}</span>
        <apex:inputTextArea cols="30" rows="3" id="qQuestion" value="{!qQuestion}"  title="The question you would like asked"/>
        
        <div class="prompt" style="float: none;">
          {!$Label.LABS_SF_RequiredQuestion} <apex:inputCheckbox value="{!qRequired}" title="Is an answer for the quesiton required?(default is true)" selected="{!qRequired}"/>
        </div>
   
        <div class="prompt" style="float: none; display:none">
          &nbsp;&nbsp;{!$Label.LABS_SF_CSIQuestion} <apex:inputCheckbox value="{!qCSI}" title="Is the quesiton CSI?(default is false)" selected="{!qCSI}"/>
        </div>
       
        <br style="clear:both;" />
        <a href="" class="right btn" onClick="$('.close').click(); return false;">{!$Label.LABS_SF_Cancel}</a>
        <apex:commandButton action="{!controllerSavQuestion}" value="{!$Label.LABS_SF_Save}"/>
      </apex:outputPanel>
   </apex:pageBlock>
  </apex:outputPanel>
  <!---------------------------------------------------------------------------------------------------------->
  <!-----------------------------------------Row Question----------------------------------------------->
  <apex:outputPanel id="rowQuestion">
    <apex:pageBlock rendered="{!showRowQuestion}">
     <apex:outputPanel id="frowQuestionForm">
        <span class="prompt">{!$Label.LABS_SF_Question}</span>
        <apex:inputTextArea cols="30" rows="3" id="qQuestion" value="{!qQuestion}"  title="The question you would like asked"/>
        
        <span class="prompt">{!$Label.LABS_SF_RequiredQuestion} <apex:inputCheckbox value="{!qRequired}" title="Is an answer for the quesiton required?(default is true)" selected="{!qRequired}"/></span>
    
        <span class="prompt" style="float: none; display:{!qIsCSI}">&nbsp;&nbsp;{!$Label.LABS_SF_CSIQuestion} <apex:inputCheckbox value="{!qCSI}" title="Is the quesiton CSI?(default is false)" selected="{!qCSI}"/></span>

        <span class="prompt">{!$Label.LABS_SF_PleaseEnterTheList}</span>
        <apex:inputTextArea cols="40" rows="12" id="qChoices" value="{!qChoices}" title="Answers to question..."/>
        
        <br style="clear:both;" />
        <a href="" class="right btn" onClick="$('.close').click(); return false;">{!$Label.LABS_SF_Cancel}</a>
        <apex:commandButton action="{!controllerSavQuestion}" value="{!$Label.LABS_SF_Save}"/>
      </apex:outputPanel>
   </apex:pageBlock>
  </apex:outputPanel>
  </apex:outputPanel>
</div> <!-- End addQuestion -->

  <!---------------------------------------------------------------------------------------------------------->
  <apex:pageBlock >
    <div id="questionList">
    
<!-- Single Select Preview --> 
  <apex:outputPanel id="singleSelectPreview">
  <apex:pageBlock rendered="{!showSingleSelectPreview}">
    <div class="question">
      <div class="question_menu">
          Single Select Preview
        </div>
    
      <table>
        <h1>{!qQuestion}</h1>
        <apex:outputPanel id="singleSelectPreviewForm">
        <tr>
          <td>
              <apex:selectRadio layout="pageDirection" >
                  <apex:selectOptions value="{!singleOptions}"/>
              </apex:selectRadio>
            </td>
        </tr>
        </apex:outputPanel>
      </table>
    </div>
  </apex:pageBlock>
  </apex:outputPanel>
     
    
    
<!-- Multi Select Preview -->
  <apex:outputPanel id="multiSelectPreview">
  <apex:pageBlock rendered="{!showMultiSelectPreview}">
    <div class="question">
    
      <div class="question_menu">
          Multi Select Preview
        </div>
    
      <table>
          <h1>{!qQuestion}</h1>
          <apex:outputPanel id="multiSelectPreviewForm">
        <tr>
          <td>
            <apex:selectCheckboxes layout="pageDirection" >
              <apex:selectOptions value="{!multiOptions}"/>
            </apex:selectCheckboxes>
          </td>
        </tr>
        </apex:outputPanel>
      </table>
    </div>
  </apex:pageBlock>
  </apex:outputPanel>

<!-- Free Text Preview -->
    <apex:outputPanel id="freeTextPreview">
  <apex:pageBlock rendered="{!showFreeTextPreview}">
      <div class="question">
  
        <div class="question_menu">
          Free Text Preview
        </div>
  
      <table>
        <h1>{!qQuestion}</h1>
        <apex:outputPanel id="freeTextPreviewForm">
          <tr>
            <td>
              <apex:inputTextArea cols="50" rows="10"/>
            </td>
          </tr>
        </apex:outputPanel>
        </table>
    </div>
  </apex:pageBlock>
  </apex:outputPanel>

<!-- Row Question Preview --> 
  <apex:outputPanel id="rowQuestionPreview">
  <apex:pageBlock rendered="{!showRowQuestionPreview}">
    <div class="question">
    
      <div class="question_menu">
          Row Question Preview
        </div>
    
      <table>
        <h1>{!qQuestion}</h1>
        <apex:outputPanel id="rowQuestionForm">
        <tr>
          <td>
            <apex:selectRadio >
                    <apex:selectOptions value="{!rowOptions}"/>
                  </apex:selectRadio>
                </td>
            </tr>
            </apex:outputPanel>
      </table>
    </div>
  </apex:pageBlock>
  </apex:outputPanel>
<!-- ---------------------------------------------------------------------- -->
 <apex:outputPanel id="qListPanel">
  <div id="justQuestionList">
    <apex:repeat value="{!aQuestion}" var="q" id="qRepeat">
      <div id ="{!q.id}" class="question" title="Drag and Drop to Reorder">
      <apex:outputPanel >
        <div class="question_menu">
            <div class="questionNum">
                {!q.orderNumber}
            </div>
            <apex:image value="{!URLFOR($Resource.SurveyForce, 'survey_upDown.png')}" styleClass="right"/>
            
            <!-- <apex:outputLabel value="{!q.questionType}"/><br /> -->
            
            <!-- <apex:outputLink value="/apex/CreateQuestion?qId={!q.id}"><font size="1"> Edit</apex:outputLink> -->
            <apex:commandLink styleclass="btn" action="{!editQuestion}" value="Edit" rel="#addQuestion" reRender="addQuestion, rowQuestion, rowQuestionPreview, singleSelect, singleSelectPreview, multiSelect, multiSelectPreview, freeText, freeTextPreview, selectQuestionType">
             <apex:param name="q" value="{!q.id}" assignTo="{!questionReference}"/>
            </apex:commandLink>
            <apex:commandLink styleclass="btn" action="{!deleteRefresh}" onclick="return confirmDelete('{!q.id}')" ><font size="1"> Delete</font>
             <apex:param name="q" value="{!q.id}" assignTo="{!questionReference}"/>            
            </apex:commandLink>
       </div>
          <h1>
            {!q.Name}
            <apex:outputPanel rendered="{!q.required}" styleClass="requiredText">
                ({!$Label.LABS_SF_Required})
            </apex:outputPanel>
          </h1>
          <div>
            <apex:selectRadio layout="pageDirection" rendered="{!q.renderSelectRadio}">
             <apex:selectOptions value="{!q.singleOptions}"/>
            </apex:selectRadio>
            <apex:selectCheckboxes layout="pageDirection" rendered="{!q.renderSelectCheckboxes}">
             <apex:selectOptions value="{!q.multiOptions}"/>
            </apex:selectCheckboxes>
            <apex:inputTextArea cols="50" rows="10" rendered="{!q.renderFreeText}"/>  
            <apex:selectRadio rendered="{!q.renderSelectRow}">
              <apex:selectOptions value="{!q.rowOptions}"/>
            </apex:selectRadio>
          </div>
      </apex:outputPanel> 
      </div> 
     </apex:repeat>  
     </div>
     </apex:outputPanel> 
     </div>
  
     <div id="surveyMenu" class="overlay">
             
                
                
        <h3 class="firstHeader"><apex:outputText value="{!$Label.LABS_SF_SurveyURLLink}"/></h3>
        <h4>{!$Label.LABS_SF_ContactWithCase}:</h4>
        <apex:outputText value="{!templateURL}"/><apex:outputText escape="true" value="&cId={&#33;Contact.Id}&caId={&#33;Case.id}" />
        <h4>{!$Label.LABS_SF_JustContact}:</h4>
        <apex:outputText value="{!templateURL}"/><apex:outputText escape="true" value="&cId={&#33;Contact.Id}&caId=none" />
        <h4>{!$Label.LABS_SF_Anonymous}:</h4>        

        <apex:outputText value="{!templateURL}"/>&amp;cId=none&amp;caId=none
        <br />
        <a href="" class="right btn" onClick="$('.close').click(); return false;">{!$Label.LABS_SF_Cancel}</a>
        


     </div>
  
  </apex:pageBlock>
  </apex:form>
    </div>

  <!---------------------------------------------------------------------------------------------------------->






</apex:page>