<apex:page showHeader="false" sidebar="false">
<script>
var myWindow = window.open("https://uat.fast.telefonica.com/login.jsp?login=loginnt.x", "Fast", "top=4000,left=4000,directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=0,scrollbars=no,resizable=no,scrollbars=no,width=100,height=100");

setTimeout(function(){ myWindow.close() }, 5000);

</script>
</apex:page>