.THIS .fontStyle{
    font-size : 14px;
}
.THIS .slds-tabs--default__link{
    font-weight: normal !important;
}
.THIS .slds-tabs--default{
    height: 100%;
    background-color: transparent;
    
}
.THIS .slds-tabs--default__content{
    position: absolute;
    top: 40px;
    padding: 0;
    bottom: 2px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.THIS{
    height: 100%;
    width:100%;
    background-color:red;
}

.THIS .headerTitle{
    position:absolute;
    top:0px;
    left:0px;
    height:60px;
    right:0px;
    overflow:hidden;
}
.THIS .container{
    position:absolute;
    top:65px;
    bottom:60px;
    left:0px;
    right:0px;
}

.THIS .footer {
    z-index:10000;
    position:absolute;
    bottom:0px;
    height:60px;
    left:0px;
    right:0px;
    overflow:hidden;
    border-top: 1px ridge #ccc;
}

.THIS .scrollSize{

    position: absolute;
    top: 0px;
    padding: 0;
    bottom: 2px;
    left: 0;
    right: 0;
}

.THIS .hiddenScrollSize{
    z-index:9999;
    position: absolute;
    padding: 0;
    bottom: 60px;
    left: 0;
    top: calc(100% - 60%);
    right: 0;
    border-top: 7px solid #bfbfbf;
}

.THIS .containerWrapper{
    height: 100%;
    width: 100%;
}

.THIS .buttonIcon{
    /* CSS to center all the clickable icons */
    text-align: center;
}


.THIS .icono{
    /* CSS for the footer icons */
    margin-top: 5px;
    padding-top: 4px;
    height: 33px;
    max-height: 35px;
    width: 33px;
    max-width: 35px;
}
.THIS .icono2{
    /* CSS for the more content icons */
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 4px;
    height: 33px;
    max-height: 35px;
    width: 33px;
    max-width: 35px;
}
.THIS .icono3{
    /* CSS for the refresh icon */
    margin-top: 12px;
    padding-top: 4px;
    height: 33px;
    max-height: 35px;
    width: 33px;
    max-width: 35px;
}
.THIS .slds-icon-text-default{
    /* Color of the refresh icon */
    fill: rgb(0, 112, 210) !important;
}

.THIS p{
    font-size: 12px;
    text-align: center;
}