.THIS .Del{
  background-color:#ffdde1;
  color:black;
 
}
.THIS .Upd{
  background-color:#faffbd;
  color:black;
 
}
.THIS .Cre{
  background-color:#4bca81;
  color:black;
 
}
.THIS .head{
  background-color:#e0e5ee;
  color:#16325c;
  size:large;
 
}