/*.THIS .close {
    color: white;
    opacity: 1;
    border: 2px solid white;
    border-radius: 17px;
    background: black;
    font-weight: lighter;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    box-shadow: 1px 1px 1px 3px #ada5a5;
    margin-top: 25px;
}

.THIS .subTable {
    width: 100%;
}

.THIS .dataGroup_Header {
    vertical-align: text-top;
    color: #4a4a56;
    font-weight: bold;
}

.THIS .dataGroup_Data {
    vertical-align: text-bottom;
    height: 1.5em;
}*/