.THIS .slds-form-element__label {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    font-weight: bolder;
    line-height: 1.5;
    margin-right: .75rem;
    margin-bottom: .125rem;
}
.THIS .back{
     background-color: #ddebf7;
}
.THIS .h3{
    font-size: 1.17em;
    font-weight: bold;
}
.THIS .header {
    font-weight: bold;
    background-color: #1f4e78;
    color: white;
	text-align: center;
}
.THIS .centerAlig {
    text-align: center;
}
.THIS .sizefont{
    font-size: 1.5em;
}