.THIS .layer-absolute{
  position: absolute;
  z-index: 100;
  background-color: white;
}
.THIS .lookupText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.THIS .slds-pill{
  min-height: 0;
  height: 100%;
}
.THIS #errorMsg{
  color:red;
  font-style: italic;
  font-family:salesforcesans;
  font-size:12px;
}

.THIS .toggle {
    display: none;
}