.THIS .container{
    max-width: 64em !important;
    margin: 0 auto !important;
}
.THIS .panel{
    margin-top:30px;
    background-color:transparent;
    border:0;
    height: 100%;
    
}
.THIS h2{
    font-family: salesforcesans !important;
    font-size: 0.5rem !important;
    font-weight:bold !important;
    margin-top: 1.5rem!important;
    color: white;
}
.THIS h2+p{
    font-family: salesforcesans !important;
    font-size: 1.25rem !important;
    font-weight:bold !important;
    color: #818181 !important;
}
.THIS .slds-icon{
    height: 1.5rem;
    width: 1.5rem;
    padding-bottom: 10px;
}